<div id="pagos" class="contact-section text-center">
  <!-- Agregamos la clase text-center -->
  <div class="container contact-container">
    <div class="col-md-12 contact-title-section text-center">
      <h2 class="contact-title" id="cuentaPago">Dolar de hoy</h2>
      <div id="ZELLE-4265-container">
        <p class="contact-text"></p>
        <pre class="contact-text link_alias mt-2"><strong>TASA</strong></pre>
        <pre class="contact-text link">{{dolar}}</pre>
      </div>
      <br />
      <div class="learn-more-btn-section" style="justify-content: center">
        <a
          class="nav-link learn-more-btn btn-invert"
          rel="nofollow noopener noreferrer"
          target="_blank"
          href="https://wa.me/+584125630480"
        >
          WhatsApp
        </a>
      </div>
    </div>
  </div>
</div>
