<div class="blog-section">
  <div class="container blog-container">
    <div class="blog-title-section">
      <h2 class="blog-title">Finalizados</h2>
    </div>
    <div
      id="owl-carousel-raffles"
      class="blog-posts-section owl-carousel owl-loaded owl-drag"
    >
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="
            transform: translate3d(0px, 0px, 0px);
            transition: all;
            width: 1480px;
          "
        >
          <div class="owl-item active" style="width: 370px">
            <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
              <div class="blog-post-card">
                <div class="blog-post-icon container-img-rifa">
                  <img
                    src="https://rifarito.s3.amazonaws.com/uploads/raffle/image/3834/b3IMG-20250429-WA0124.jpg?X-Amz-Expires=86400&amp;X-Amz-Date=20250524T231230Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250524%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=908a8f06b3db49e77ebc8030b6b4e7fe2a7c8598d25378f308ee1e7b9d9739ff"
                  />
                </div>
                <h3 class="blog-post-title">EL COMBO MALIANTEO</h3>
                <h4 class="blog-post-subtitle">29 Mayo, 2025</h4>
                <p class="blog-post-text"></p>
                <a class="nav-link learn-more-btn" href="/combomalianteo"
                  >Ver Evento</a
                >
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 370px">
            <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
              <div class="blog-post-card">
                <div class="blog-post-icon container-img-rifa">
                  <img
                    src="https://rifarito.s3.amazonaws.com/uploads/raffle/image/3636/IMG-20250401-WA0102__1_.jpg?X-Amz-Expires=86400&amp;X-Amz-Date=20250524T231230Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250524%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=4e514bce3b4ee57dd8e2342e42622a8c2a61d7b49bae5d5603cc19304d05377e"
                  />
                </div>
                <h3 class="blog-post-title">COMBO FAMILIAR</h3>
                <h4 class="blog-post-subtitle">25 Abril, 2025</h4>
                <p class="blog-post-text"></p>
                <a class="nav-link learn-more-btn" href="/combofamiliar"
                  >Ver Evento</a
                >
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 370px">
            <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
              <div class="blog-post-card">
                <div class="blog-post-icon container-img-rifa">
                  <img
                    src="https://rifarito.s3.amazonaws.com/uploads/raffle/image/3523/bnrrIMG-20250228-WA01322.jpg?X-Amz-Expires=86400&amp;X-Amz-Date=20250524T231230Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250524%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=dee64dcfd51778a3cf884bc727c65e750bf7113380530b2d9c65e423a9ff56a9"
                  />
                </div>
                <h3 class="blog-post-title">COMBO DEL SHOW</h3>
                <h4 class="blog-post-subtitle">27 Marzo, 2025</h4>
                <p class="blog-post-text"></p>
                <a class="nav-link learn-more-btn" href="/combodelshow"
                  >Ver Evento</a
                >
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 370px">
            <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
              <div class="blog-post-card">
                <div class="blog-post-icon container-img-rifa">
                  <img
                    src="https://rifarito.s3.amazonaws.com/uploads/raffle/image/3025/IMG-20250209-WA0111__1_.jpg?X-Amz-Expires=86400&amp;X-Amz-Date=20250524T231230Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250524%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=d9a0b88cbe6797cdc15dd6127ce65c67688fc42d75a707d77d8578c4c22f57a3"
                  />
                </div>
                <h3 class="blog-post-title">EL YT DE LOS PODERES #1</h3>
                <h4 class="blog-post-subtitle">10 Marzo, 2025</h4>
                <p class="blog-post-text"></p>
                <a class="nav-link learn-more-btn" href="/elytdelospoderes1"
                  >Ver Evento</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev">
          <span aria-label="Previous">‹</span></button
        ><button type="button" role="presentation" class="owl-next">
          <span aria-label="Next">›</span>
        </button>
      </div>
      <div class="owl-dots">
        <button role="button" class="owl-dot active"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button>
      </div>
    </div>
  </div>
</div>
