<div class="blog-section" id="finalizados">
  <div class="container blog-container">
    <div class="blog-title-section">
      <h2 class="blog-title">Finalizados</h2>
    </div>
    <div id="owl-carousel-raffles"
      class="blog-posts-section loop owl-carousel owl-theme owl-loaded owl-drag">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          {% for evento in eventos %}
            <div class="owl-item" style="width: 370px">
              <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
                <div class="blog-post-card">
                  <div class="blog-post-icon container-img-rifa">
                    <img src="{{ evento.foto.url }}" />
                  </div>
                  <h3 class="blog-post-title">{{ evento.nombre }}</h3>
                  <h4 class="blog-post-subtitle">
                    {{ evento.fecha_fin|date:'d F, Y' }}
                  </h4>
                  <a class="nav-link learn-more-btn"
                    href="/rifa/{{ evento.url }}">
                    Ver Evento
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
