<div id="footer" class="footer-section">
  <div class="container footer-container">
    <div class="col-lg-3 col-md-6 footer-logo">
      <h3 class="footer-subsection-title clientLegalName">
        Rifas’ Endry Villalta
      </h3>
      <p class="footer-susection-text">
        <img src="/static/img/logo.png" style="width: 250px" width="250px" />
      </p>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <div class="footer-subsection-2-1">
        <h3 class="footer-subsection-title">Secciones</h3>
        <pre><p class="footer-subsection-text">Inicio</p></pre>
        <pre><p class="footer-subsection-text">Lista de boletos</p></pre>
        <pre><p class="footer-subsection-text">Verificar boleto</p></pre>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <h3 class="footer-subsection-title" id="contacto">Contacto</h3>
      <ul class="footer-subsection-list">
        <li class="webClient" style="display: block">
          <a
            href="#"
            class="linkWebClient"
            rel="nofollow noopener noreferrer"
            target="_blank"
          >
            www.RifasEndryVillalta.com
          </a>
        </li>
        <li>Los Teques, Caracas, Venezuela</li>
        <li>+58 4125630480</li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <div class="footer-subsection-2-2">
        <h3 class="footer-subsection-title">Síguenos</h3>
        <style>
          a {
            display: block; /* Asegura que cada enlace ocupe toda la línea */
            margin-bottom: 1.5em; /* Espacio de separación de 1.5 entre los enlaces */
            text-decoration: none; /* Opcional: quita el subrayado de los enlaces */
            color: inherit; /* Opcional: hereda el color del texto del contenedor */
          }
        </style>

        <div>
          <a
            href="https://www.instagram.com/endryvillalta?igsh=ejJlbzdnaDE2eGF3&utm_source=qr"
            target="_blank"
          >
            <i class="fab fa-instagram"></i><span>@endryvillalta</span>
          </a>
        </div>
        <div>
          <a
            href="https://www.tiktok.com/@endryvillalta?_t=ZM-8wBq4EIKVuv&_r=1"
            target="_blank"
          >
            <i class="fab fa-tiktok"></i><span>@endryvillalta</span>
          </a>
        </div>
        <div>
          <a
            href="https://www.facebook.com/share/16VHJQqFV9/?mibextid=wwXIfr"
            target="_blank"
          >
            <i class="fab fa-facebook"></i><span>@endryvillalta</span>
          </a>
        </div>

        <!-- <a href="#top" class="footer-social-media-icon"><i class="fa fa-linkedin"></i></a> -->
      </div>
    </div>
  </div>
</div>
