<div id="footer" class="footer-section pb-0" style="background: #d62828">
  <div class="container footer-container">
    <div class="col-lg-3 col-md-6 footer-logo">
      <h3 class="header-title footer-title">CHIPIBIKELIFEE</h3>
      <p class="footer-susection-text">
        <img  src="/static/img/logo.png"
    style="border-radius: 50%; width: 170px; height: 170px; object-fit: cover;" />
      </p>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <div class="footer-subsection-2-1">
        <h3 class="header-title pixeleado" style="font-size: 30px">
          Secciones
        </h3>
        <pre><p class="footer-subsection-text" style="color: #f8f3f3;" >Inicio</p></pre>
        <pre><p class="footer-subsection-text" style="color: #f7f3f3;">Lista de boletos</p></pre>
        <pre><p class="footer-subsection-text" style="color: #f7f1f1;">Verificar boleto</p></pre>
        <pre><p class="footer-subsection-text" style="color: #fcf9f9;">No le bajen ni un cambio que todos podemos🫂🙌🏻❤️</p></pre>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <h3 class="header-title pixeleado" style="font-size: 30px">Contacto</h3>
      <ul style="list-style: none; padding-left: 0">
        <li style="display: block">
          <a
            href="#"
            class="linkWebClient"
            rel="nofollow noopener noreferrer"
            target="_blank"
            style="color: rgb(43, 43, 223)"
          >
            www.CHIPIBIKELIFEE.com
          </a>
        </li>
        <li style="color: #f1efef">Los Teques, Caracas Venezuela</li>
        <li style="color: #f7f2f2">+58 4242558344</li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <div class="footer-subsection-2-2">
        <h3 class="header-title pixeleado" style="font-size: 30px">Síguenos</h3>
        <div style="margin-bottom: 0.5em">
          <a
            href="https://www.instagram.com/chipi515_bikelife?igsh=dDM3Y2FsMGlpeGV3&utm_source=qr"
            target="_blank"
            style="color: rgb(43, 43, 223); font-weight: bold; font-size: 14px"
          >
            <i class="fab fa-instagram"></i><span>@chipi515_bikelife</span>
          </a>
        </div>
        <div style="margin-bottom: 0.5em">
          <a
            href="https://www.tiktok.com/@chipioropeza515?_t=ZM-8wdGgPitbXB&_r=1"
            target="_blank"
            style="color: rgb(38, 38, 230); font-weight: bold"
          >
            <i class="fab fa-tiktok"></i><span>@chipioropeza515</span>
          </a>
        </div>
        <div style="margin-bottom: 0.5em">
          <a
            href="https://www.facebook.com/share/1G4fDyEXuz/?mibextid=wwXIfr"
            target="_blank"
            style="color: rgb(42, 42, 241); font-weight: bold"
          >
            <i class="fab fa-facebook"></i><span>@Chipi515bikelifee </span>
          </a>
        </div>
      </div>
    </div>

    <!-- <a href="#top" class="footer-social-media-icon"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div>
    <div class="text-center pb-5">
      <a
        style="color: #f8f8f8"
        href="https://wa.me/584125689351?text=Hola%20quisiera%20crear%20mi%20propia%20pagina%20web"
      >
        ¿Quieres tener tu propia página web? Contactanos.</a
      >
    </div>
  </div>
</div>
