<div class="footer-section pb-3" id="footer">
  <div class="container footer-container">
    <div class="col-lg-3 col-md-6 footer-subsection">
      <h3 class="footer-subsection-title clientLegalName">
        {{ cliente.nombre }}
      </h3>

      <!-- prettier-ignore -->
      <p class="footer-subsection-text clientDescription text-center">{{cliente.descripcion}}</p>
      <div class="text-center">
        <img src="{{ cliente.logo.url }}"
          alt="logo"
          style="border-radius: 50%; width:50px; max-height: 100px; object-fit: cover;margin:auto" />
      </div>
    </div>
    <div class="col-lg-3 col-md-6 footer-subsection">
      <h3 class="footer-subsection-title">Secciones</h3>
      <div class="footer-social-media-menu-section">
        <a href="#top" class="footer-subsection-text">Inicio</a>
        <a href="#comprar" class="footer-subsection-text">Lista de Boletos</a>
        <a href="#tickets" class="footer-subsection-text">
          Verificar mis Boletos
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 footer-subsection">
      <h3 class="footer-subsection-title">Contacto</h3>
      <ul id="contactLinks" class="footer-subsection-list">
        <li class="webClient" style="">
          <a href="https://www.rifasurfistadeasfalto.com/"
            class="linkWebClient"
            rel="nofollow noopener noreferrer"
            target="_blank">
            www.rifasurfistadeasfalto.com/
          </a>
        </li>
        <li>
          <span class="clientLegalAddress">{{ cliente.ubicacion }}</span>
        </li>
        <li>+ {{ cliente.telefono }}</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 footer-subsection">
      <div class="footer-subsection-2-2">
        <h3 class="footer-subsection-title">Síguenos</h3>
        <div class="footer-social-media-icons-section justify-content-center">
          {% if cliente.facebook %}
            <a href="{{ cliente.facebook }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              title="Facebook"
              class="footer-social-media-icon linkFacebook">
              <i class="fab fa-facebook" style="font-size: 26px;"></i>
            </a>
          {% endif %}
          {% if cliente.tiktok %}
            <a href="{{ cliente.tiktok }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              title="TikTok"
              class="footer-social-media-icon linkTiktok">
              <i class="fab fa-tiktok" style="font-size: 26px;"></i>
            </a>
          {% endif %}
          {% if cliente.twitter %}
            <a href="{{ cliente.twitter }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              title="Twitter"
              class="footer-social-media-icon linkTwitter">
              <i class="fab fa-twitter" style="font-size: 26px;"></i>
            </a>
          {% endif %}
          {% if cliente.youtube %}
            <a href="{{ cliente.youtube }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              title="YouTube"
              class="footer-social-media-icon linkYoutube">
              <i class="fab fa-youtube" style="font-size: 26px;"></i>
            </a>
          {% endif %}
          {% if cliente.linkedin %}
            <a href="{{ cliente.linkedin }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              title="Linkedin"
              class="footer-social-media-icon linkLinkedin">
              <i class="fab fa-linkedin" style="font-size: 26px;"></i>
            </a>
          {% endif %}
          {% if cliente.instagram %}
            <a href="{{ cliente.instagram }}"
              rel="nofollow noopener noreferrer"
              target="_blank"
              title="Instagram"
              class="footer-social-media-icon linkInstagram">
              <i class="fab fa-instagram" style="font-size: 26px;"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
