<div class="container footer-credits">
  <a
    href="https://www.rifasbuttowski.com/"
    target="_blank"
    title="Sistema de Rifas"
  >
    <img
      src="/static/rifas/rifaritowatermark-c.png"
      width="166"
      height="47"
      alt="Sistema de Rifas"
    />
  </a>
  <p>
    <span class="legalLinks">
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
        Condiciones
      </a>
      |
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
        Privacidad
      </a>
      |
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
        Responsabilidad
      </a>
    </span>
    <br />
    © 2024 Todos los derechos reservados.
  </p>
</div>
