<div class="header" style="background: #380a0c">
  <div class="container header-container">
    <div class="col-lg-6 header-img-section">
      <img src="{{ cliente.portada.url }}" />
    </div>
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p class="header-subtitle">{{ cliente.ubicacion }}</p>
      <h1 class="header-title">{{ cliente.nombre }}</h1>
      <p class="header-title-text"></p>
      <pre>{{ cliente.descripcion }}</pre>
      <p></p>
      <div class="learn-more-btn-section principal-link">
        <a class="nav-link learn-more-btn btn-invert" href="#lista_boletos">
          LISTA DE DISPONIBLES
        </a>
      </div>
    </div>
  </div>
</div>
