<div class="header" style="background: #1f1f1f1c">
  <div class="container header-container">
    <div class="col-lg-6 header-img-section">
      <img src="/static/img/logo.png" />
    </div>
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p
        class="header-subtitle pixeleado"
        style=" color: yellow"
      >
       
      </p>
      <h1
        class="header-title pixeleado"
        style=" color: yellow;font-size: 28px;"
      >
      Mundobikelife_vzl 🌍
      </h1>
      <p
        class="header-title-text pixeleado"
        style=" color: yellow"
        ></p
      ></p>
     
      <p></p>
      <div class="learn-more-btn-section principal-link">
        <a class="nav-link learn-more-btn btn-invert" href="#disponible">
          LISTA DE DISPONIBLES
        </a>
      </div>
    </div>
  </div>
</div>
