<div class="header" style="margin-top: 400px">
  <div class="container header-container">
    <div class="col-lg-6 mx-auto text-center offset-lg-1 header-title-section">
      <div class="card">
        <p class="header-subtitle">los teques , Caracas Venezuela</p>
        <h1 class="header-title">SORTEO</h1>
        <p class="header-title-text"></p>
        <pre>Rifas’EndryVillalta</pre>
        <p></p>
        <div class="learn-more-btn-section principal-link">
          <a
            class="nav-link learn-more-btn btn-invert mx-auto"
            href="#disponible"
          >
            LISTA DE DISPONIBLES
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
