{% load l10n %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- META DATA -->
    <title>{{ cliente.nombre }}</title>
    <meta name="description" content="{{ evento.descripcion }}" />
    {% if evento %}
      <meta property="og:title"
        content="{{ evento.nombre }} | {{ cliente.nombre }}" />
      <meta property="og:image" content="{{ evento.foto.url }}" />
      <meta property="og:description" content="{{ evento.descripcion }}" />
    {% else %}
      <meta property="og:title"
        content="{{ cliente.nombre }} | {{ cliente.descripcion }}" />
      <meta property="og:image" content="{{ cliente.logo.url }}" />
      <meta property="og:description" content="{{ cliente.descripcion }}" />
    {% endif %}

    <meta name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1" />
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="{{ cliente.logo.url }}" />

    <meta property="og:type" content="website" />
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/static/rifas/bootstrap4.6.min.css" />

    <link rel="stylesheet"
      type="text/css"
      href="/static/rifas/style_original2.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link href="/static/rifas/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/rifas/custom.css" />
    <link rel="stylesheet" href="/static/rifas/style_original.css" />
    <link rel="stylesheet" href="/static/rifas/tickets.css" />

    <link rel="stylesheet" href="/static/rifas/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/rifas/owl.theme.default.min.css" />
  </head>

  <body>
    <!-- NAVBAR -->
    {% localize off %} {% include 'rifa/nav.html' %}
    <!-- SECTION LABEL -->
    <div id="top"></div>
    <!-- WRAPPER -->
    <div class="wrapper">
      {% if evento %}
        {% include 'rifa_detalle/header.html' %}
        {% include 'rifa/lista_boletos.html' %}
        {% include 'rifa/verificar_pago.html' %}
      {% else %}
        {% include 'rifa/header.html' %}
      {% endif %}

      <!-- FINALIZADOS -->
      {% include 'rifa/finalizados.html' %}
      <!-- FOOTER -->
      {% include 'rifa/footer.html' %}

      <!-- FOOTER CREDITS -->
    </div>
    {% endlocalize %}

    <div class="container_btn_help">
      <div id="buttfixed">
        <div class="chat-btn">
          <i class="fa fa-commenting"></i><span>Chat</span>
        </div>
        <div id="linksfixed" style="display: none" class="activehelp">
          <a href="https://wa.me/+584249726468"
            rel="nofollow noopener noreferrer"
            target="_blank"
            class="whatsapp">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
    <script src="/static/rifas/lista-boletos.js"></script>
    <script src="/static/rifas/jquery.min.js"></script>
    <script src="/static/rifas/popper.min.js"></script>
    <script src="/static/rifas/bootstrap4.6.bundle.min.js"></script>
    <script src="/static/rifas/owl.carousel.min.js"></script>
    <script src="/static/rifas/qrcode.min.js"></script>

    <script src="/static/rifas/rifas.js"></script>
  </body>
</html>
