<input type="hidden" value="{{ evento.precio_unidad }}" id="precio-unidad-js" />
<input type="hidden" value="{{ evento.minimo }}" id="minimo-tickets-js" />
<div class="container pricing-container pricing-head" id="lista_boletos">
  <article class="card">
    <form action=""
      method="post"
      enctype="multipart/form-data"
      onsubmit="return confirmarTickets(this, event)">
      {% csrf_token %}
      <input type="hidden"
        id="total_tickets"
        value="{{ evento.total_tickets }}" />
      <div class="container">
        <div class="card-body container-payment">
          <div class="payment-type">
            <div class="pricing-title">
              <i class="fa fa-ticket fixleft" aria-hidden="true"></i>
              <i class="fa fa-ticket fixright" aria-hidden="true"></i>
              <h2><span id="formTitle">LISTA DE BOLETOS</span></h2>
            </div>
            <div id="new-purchase">
              <div id="containerBtnTickets" class="col-lg-12 mb-40">
                <div class="row">
                  <div class="col s12 m12 text-center quantity_multiplier">
                    {% if evento.promociones %}
                      {% for promocion in evento.promociones %}
                        <h3 class="textTicketPromos"
                          data-toggle="tooltip"
                          data-placement="top"
                          data-original-title="Promoción 0x-1">
                          <i class="fa fa-ticket" aria-hidden="true"></i>
                          <span class="quantityTotalTicketsPromos">
                            {{ promocion.cantidad_tickets }} boletos por
                            <b>{{ promocion.precio }}$</b>
                          </span>
                        </h3>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="input-field col col-lg-12 s12 m12 text-center">
                    <div class="plusminus horiz">
                      <button type="button"
                        id="btnMinus"
                        disabled=""
                        onclick="removeTicket()">

                      </button>
                      <div>
                        <input id="ticketQty"
                          type="number"
                          name="productQty"
                          value="{{ evento.minimo }}"
                          min="{{ evento.minimo }}"
                          max="{{ evento.disponibles }}"
                          oninput="actualizarPrecios()" />
                        <span class="ticket_name">BOLETO</span>
                      </div>
                      <button type="button" id="btnPlus" onclick="addTicket()">

                      </button>
                    </div>
                  </div>
                  <div class="col s12 m12 text-center monto-total-compra">
                    <h3 id="montoTotal"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Dólares Americanos">
                      Total:
                      <span>
                        USD&nbsp;
                        <span class="total-boleto">
                          {{ evento.precio_unidad }}$
                        </span>
                      </span>
                    </h3>

                    <h5>Total: <b class="precio-bs">101 Bs</b></h5>
                    <small class="textDiscounts"
                      style="display: none"
                      id="textCostByTicket"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title=""
                      data-original-title="Boleto con Descuento">
                      Boleto:
                      <span id="costByTicket">
                        USD&nbsp;{{ evento.precio_unidad }}$
                      </span>
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 p0">
                  <div class="card-content">
                    <div class="row center text-center container_tickets_boxes">
                      <div class="col-12 s12 m6 p0">
                        <h6>
                          {% if evento.total_tickets < 201 %}
                            <button type="button"
                              id="btnChooseRandomChips"
                              class="magic_button show"
                              onclick="randomTickets()">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <small id="formBtnRandom">
                                Elegir a la Suerte
                              </small>
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                          {% endif %}
                        </h6>
                        {% if evento.total_tickets < 201 %}
                          {% include 'rifa/seleccion_boletos.html' %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 p0">
                  <div id="container_select_to_fixed"
                    class="row center text-center container_selected"
                    style="display: block">
                    <div class="col-12 s12 m6 p0">
                      <div id="btn_view_selected"
                        class="btn_view_selected fa fa-chevron-down"
                        style="display: none"
                        aria-hidden="true"></div>
                      <div class="info_fixed">
                        {% if evento.total_tickets < 201 %}
                          <div class="cards_fixed">
                            <strong class="text_selected_ticket">
                              SELECCIONADOS
                            </strong>
                            <strong id="textSeleccionados">
                              <span class="cantidad-seleccionado">0</span> de
                              <span class="cantidad-boleto">1</span>
                            </strong>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <h4>
                <i class="fa fa-user" aria-hidden="true"></i> DATOS PERSONALES
              </h4>

              <div class="col-lg-12 mb-30 p0">
                <div class="row mbp0">
                  <div class="input-field col col-lg-6 col-6">
                    <label for="nombre" class="active">
                      Nombres y Apellidos *
                    </label>
                    <input placeholder=""
                      id="nombre"
                      name="nombre"
                      type="text"
                      class="validate invalid"
                      minlength="8"
                      maxlength="66"
                      required="" />
                  </div>
                  <div class="input-field col col-lg-6 col-6">
                    <label class="mr20 active" for="celular">Celular *</label><br />
                    <div class="row">
                      <div class="col-4">
                        {% include 'components/country_code_select.html' %}
                      </div>
                      <div class="col-8">
                        <input placeholder=""
                          id="celular"
                          type="tel"
                          class="validate invalid"
                          maxlength="14"
                          minlength="8"
                          required=""
                          style="width: 100%"
                          name="celular"
                          inputmode="numeric"
                          pattern="[0-9]*" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% include 'rifa/metodos.html' %}
            <div id="datosBanco" class="text-center input-field col s12 m6">
              <div>
                <h6>
                  <span id="metodo-titulo"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="">

                  </span>
                  <span data-toggle="tooltip"
                    data-placement="bottom"
                    title=""
                    data-original-title="Cuenta Personal">
                    <i class="help-account fa fa-user" aria-hidden="true"></i>
                  </span>
                </h6>
              </div>
              <div id="contenido-pago"></div>

              <div class="bank-card-container">
                  <div class="bank-header">
                      Banco de Venezuela 🇻🇪 🥇
                      <span class="copy-icon material-icons" onclick="copyToClipboard('bankHeader')">content_copy</span>
                  </div>
                  <div class="bank-details-box">
                      <div class="detail-line">
                          <span>DNI: Cédula: </span>
                          <span>V24.149.878</span>
                          <span class="copy-icon material-icons" onclick="copyToClipboard('dni')">content_copy</span>
                      </div>
                      <div class="detail-line">
                          <span>Nombre: </span>
                          <span>Banco de Venezuela</span>
                          <span class="copy-icon material-icons" onclick="copyToClipboard('bankName')">content_copy</span>
                      </div>
                      <div class="detail-line">
                          <span>Tipo de cuenta: </span>
                          <span>Pago movil</span>
                          <span class="copy-icon material-icons" onclick="copyToClipboard('accountType')">content_copy</span>
                      </div>
                      <div class="detail-line">
                          <span>N° de cuenta: </span>
                          <span>04120492515</span>
                          <span class="copy-icon material-icons" onclick="copyToClipboard('accountNumber')">content_copy</span>
                      </div>
                      <div class="detail-line">
                          <span>Precio del ticket: </span>
                          <span>544bs</span>
                          <span class="copy-icon material-icons" onclick="copyToClipboard('ticketPrice')">content_copy</span>
                      </div>
                  </div>
                  <div class="conversion-box">
                      <h4>Conversión: 1$ = 136 BS</h4>
                      <h3>232 x 544bs = 126208.00 BS</h3>
                  </div>
                  <div class="total-transfer-box">
                      <h2>Total a transferir</h2>
                      <span class="total-amount">126208.00 BS</span>
                  </div>
              </div>
              </div>
          </div>
          <div id="priceConvert" class="pricefixed">
            <strong data-toggle="tooltip"
              data-placement="bottom"
              data-original-title="Dólares Americanos">
              Total: <span class="total-boleto">
                {{ evento.precio_unidad }}$
              </span> USD
            </strong>
            <small>
              (<span class="cantidad-boleto">{{ evento.minimo }}</span> boleto)
            </small>
          </div>
        </div>

        <div class="containerAllVoucher">
          <h4 class="mt-40">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            COMPROBANTE DE PAGO
          </h4>
          <div class="col-lg-12 mb-10">
            <div class="row">
              <div class="input-field col s6 m6">
                <h6 id="formLblVoucher">Foto o Captura de Pantalla</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-30 nopadding">
            <div class="row">
              <div id="container_voucher_up"
                class="col col-12 s12 m6 col-lg-12 elegirbanco">
                <div id="formimage"
                  class="file-field input-field s-voucher"
                  style="display: block">
                  <div class="btn" id="file-btn">
                    <span><i class="fa fa-upload" aria-hidden="true"></i></span>
                  </div>
                  <div class="file-path-wrapper"
                    style="position: static;width:100%;text-align:center">
                    <img id="comprobante-preview"
                      src=""
                      style="width: 200px;height: auto;max-width: 100%;margin:auto"
                      alt="Comprobante" />
                    <input id="file-label"
                      class="file-path validate"
                      type="text"
                      placeholder="Foto/Captura de Pantalla" />
                  </div>
                  <input id="files"
                    data-maxwidth="992"
                    data-maxheight="992"
                    type="file"
                    required
                    accept="image/*"
                    name="foto"
                    onchange="fileChange(this)" />
                </div>
                <h6 id="montoCorrecto">
                  <strong class="total-boleto">
                    {{ evento.precio_unidad }}$
                  </strong>
                  o
                  <strong class="precio-bs">150bs</strong>
                  (
                  <span class="cantidad-boleto">1</span>
                  boleto )
                </h6>
              </div>
              <div id="referencia-div">
                <h4 class="">
                  <i class="fa fa-user" aria-hidden="true"></i> REFERENCIA BANCARIA
                </h4>
                <div class="col-lg-12 p0">
                  <div class="input-field col col-lg-6 col-6">
                    <label for="referencia" class="active">
                      Codigo de Referencia *
                    </label>
                    <input name="referencia"
                      id="referencia"
                      type="text"
                      class="validate invalid px-3" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-30 text-center">
        <label class="labelPersonalData form-check" content="">
          <small>
            Al confirmar autorizo el uso de
            <a href="#" id="openModalUseData" class="link">
              Mis Datos Personales
            </a>
          </small>
        </label>
        <label class="labelClientTermsConds form-check"
          for="checkboxClientTermsConds"
          content=""
          style="display: none">
          <input id="checkboxClientTermsConds"
            class="form-check-input"
            name="checkboxClientTermsConds"
            type="checkbox" />
          <small>
            Acepto los
            <a href="#" id="openModalTermsConds" class="link">
              Términos y Condiciones
            </a>
          </small>
        </label>
      </div>
      <div class="col-lg-12 mb-30 text-center">
        <div id="cantidad2-div" hidden>
          Cantidad de boletos:<input type="text" value="0" name="cantidad2" />
        </div>
        <button type="submit" class="btn-large" id="confirmTickets">
          Confirmar
        </button>
      </div>
    </form>
  </article>
</div>

<div class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check-circle"
            aria-hidden="true"
            style="font-size: 32px;">

          </i>
        </div>
        <h2>¡BOLETOS REGISTRADOS CORRECTAMENTE!</h2>
        Serás enviados a <a href="" id="whatsapp-link">WhatsApp</a> .
        <br /><br />
        Redirigiendo en <span id="countdown">5</span> segundos...
      </div>
    </div>
  </div>
</div>

<style>
  /* Base styles for the entire bank card section */
  .bank-card-container {
      background-color: #fff; /* White background for the card */
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 20px;
      text-align: left; /* Align text within the card to the left by default */
      overflow: hidden; /* Ensures borders/shadows are contained */
  }

  /* Styles for the "Banco de Venezuela" header */
  .bank-header {
      font-size: 1.4em;
      font-weight: bold;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee; /* Subtle separator */
      color: #333; /* Darker text for the header */
  }

  /* Styles for the main bank details box */
  .bank-details-box {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 20px;
      background-color:rgba(252, 252, 252, 0.02); /* Slightly off-white background */
  }

  .detail-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      font-size: 0.95em;
      color: #555;
  }

  .detail-line span:first-child {
      font-weight: 500; /* Slightly bolder for the labels */
  }

  .detail-line span:last-of-type {
      font-weight: bold; /* Bold for the actual values */
      color: #222;
  }

  /* Style for the copy icon (assuming Material Icons are loaded) */
  .copy-icon {
      font-size: 18px; /* Adjust size as needed */
      cursor: pointer;
      color: #999;
      margin-left: 10px;
      transition: color 0.2s ease-in-out;
  }

  .copy-icon:hover {
      color: #555;
  }

  /* Styles for the red conversion box */
  .conversion-box {
      background-color: #e50000; /* Red from the image */
      color: white;
      padding: 15px 20px;
      border-radius: 8px;
      text-align: center;
      margin-bottom: 20px;
  }

  .conversion-box h4 {
      margin: 0;
      font-size: 1.1em;
      font-weight: normal;
      opacity: 0.9;
  }

  .conversion-box h3 {
      margin: 5px 0 0;
      font-size: 1.6em;
      font-weight: bold;
      line-height: 1.2;
  }

  /* Styles for the "Total a transferir" section */
  .total-transfer-box {
      text-align: center;
      margin-top: 20px;
  }

  .total-transfer-box h2 {
      margin: 0;
      font-size: 1.5em;
      color: #e50000; /* Red color for the heading */
      font-weight: bold;
  }

  .total-transfer-box .total-amount {
      font-size: 2.2em;
      font-weight: 900; /* Extra bold */
      color: #e50000; /* Red color for the amount */
      display: block; /* Ensures it takes full width for centering */
      margin-top: 5px;
  }

  /* General responsive adjustments */
  @media (max-width: 768px) {
      .bank-card-container {
          padding: 15px;
      }
      .bank-header {
          font-size: 1.2em;
      }
      .conversion-box h3 {
          font-size: 1.4em;
      }
      .total-transfer-box .total-amount {
          font-size: 1.8em;
      }
  }
</style>

<script>
    // This is a basic JavaScript function to simulate copying to clipboard.
    // In a real application, you might use a more robust library or native API.
    function copyToClipboard(id) {
        let textToCopy = '';
        if (id === 'bankHeader') {
            textToCopy = document.querySelector('.bank-header').innerText.replace('content_copy', '').trim();
        } else if (id === 'dni') {
            textToCopy = document.querySelector('.detail-line:nth-child(1) span:nth-child(2)').innerText;
        } else if (id === 'bankName') {
            textToCopy = document.querySelector('.detail-line:nth-child(2) span:nth-child(2)').innerText;
        } else if (id === 'accountType') {
            textToCopy = document.querySelector('.detail-line:nth-child(3) span:nth-child(2)').innerText;
        } else if (id === 'accountNumber') {
            textToCopy = document.querySelector('.detail-line:nth-child(4) span:nth-child(2)').innerText;
        } else if (id === 'ticketPrice') {
            textToCopy = document.querySelector('.detail-line:nth-child(5) span:nth-child(2)').innerText;
        }

        navigator.clipboard.writeText(textToCopy)
            .then(() => {
                alert('¡Copiado al portapapeles!');
            })
            .catch(err => {
                console.error('Error al copiar: ', err);
                alert('Error al copiar. Por favor, copie manualmente.');
            });
    }
</script>