<style>
  .text-center {
    text-align: center;
    /* Centra el texto dentro del contenedor */
  }

  .contact-section {
    display: flex;
    /* Utiliza flexbox para centrar el contenido */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-direction: column;
    /* Asegura que los elementos se apilen verticalmente */
    padding: 20px;
    /* Espaciado alrededor del contenido */
  }

  .header_aprox_date,
  #pagingBox,
  #page_navigation,
  #containerSearch,
  #numeros_seleccionados,
  #btn_view_selected_bot {
    display: none !important;
  }

  .footer-credits {
    display: none !important;
  }

  .shuffle-section {
    display: none !important;
  }
</style>
<style>
  .header {
    background: #9c27b0;
  }

  .header .header-title,
  .header .header-subtitle,
  .header pre,
  .header p,
  .progress-percent {
    color: #fff9f9;
  }

  .navbar {
    border-top: 8px solid #9c27b0;
    border-bottom: 8px solid #9c27b0;
  }

  .header-scrolled {
    -webkit-box-shadow: 0 5px 6px 0 #9c27b0;
    box-shadow: 0 5px 6px 0 #9c27b0;
    background: #ffffff1a;
  }

  a.link {
    color: #9c27b0;
  }

  .footer-subsection-title {
    font-family: "Pixel", sans-serif;
    /* Asegúrate de que la fuente esté disponible */
    color: yellow;
    /* Color amarillo */
  }

  button.magic_button {
    color: #9c27b0;
  }

  .progress-actual {
    background: #9c27b0;
  }

  .progress-total {
    border: 2px solid #000000;
  }

  button.magic_button:active,
  button.waves-effect.next:active,
  button.waves-effect.prev:active {
    color: #000000 !important;
  }

  .nav-item .nav-link:hover .nav-link-number {
    color: #9c27b0 !important;
  }

  .nav-item .nav-link:hover .nav-link-menu {
    color: #9c27b0 !important;
  }

  .navbar-toggler:not(:disabled):not(.disabled) {
    color: #9c27b0;
  }

  .learn-more-btn,
  button {
    background-color: #9c27b0;
  }

  .learn-more-btn,
  .plusminus button,
  .btn-large,
  button.magic_button,
  #buttfixed,
  #containerSearch {
    box-shadow: 0 0 18px #9c27b0;
  }

  .learn-more-btn:hover,
  button:hover {
    background-color: #000000;
  }

  .learn-more-btn:hover,
  .btn-large:hover,
  .plusminus button:hover,
  button.magic_button:hover,
  #buttfixed:hover {
    box-shadow: 0 0 18px #0000008a;
  }

  .card .card-body .payment-type .types .type.selected::after {
    color: #9c27b0;
    border: 2px solid #9c27b0;
  }

  .btn-invert {
    background-color: #9c27b0 !important;
  }

  .services-accordion .accordion {
    background-color: #9c27b0;
  }

  .accordion:active,
  .accordion:hover {
    color: #dfb4cb;
    background-color: #000000 !important;
  }

  .btn-invert:hover {
    background-color: #000000 !important;
    color: #f0cce6;
  }

  .header-img-section img {
    box-shadow: 0 0 18px #00000069;
  }

  #msjNombre,
  .pricing-head h4,
  .clients-title,
  .contact-title,
  .pricing-title h2,
  .blog-title,
  .services-title,
  .contact-subtitle,
  strong#textSeleccionados,
  strong#total_amount {
    color: #9c27b0;
  }

  input[type="range"] + .thumb,
  .btn,
  .btn-large,
  .btn-small,
  .btn:focus,
  .btn-large:focus,
  .btn-small:focus,
  .btn-floating:focus,
  .btn_view_selected:hover {
    background-color: #9c27b0;
  }

  input[type="range"] + .thumb .value,
  .input-field .prefix.active,
  .dropdown-content li > a,
  .dropdown-content li > span {
    color: #000000;
  }

  button.btn-large,
  button.btn-small,
  a.btn-large,
  a.btn-small {
    border: 2px solid transparent;
  }

  .featured_award {
    background: #9c27b0;
  }

  .poppuler .btn {
    color: #9c27b0;
  }

  .plusminus button:active,
  .plusminus button:focus {
    background: #000000;
    color: #e5c2e0 !important;
  }

  .learn-more-btn,
  button,
  .plusminus button {
    color: #ddc9d4;
  }

  button.magic_button:hover,
  #page_navigation > button:hover {
    color: #d9c5d4 !important;
  }

  button.magic_button:focus {
    color: #000;
  }

  .learn-more-btn:hover,
  button.btn-large:hover {
    color: #e7c9de;
  }

  .plusminus button:hover {
    color: #e4c4d3;
  }

  strong#textSeleccionados {
    color: #9c27b0;
    background: #d2c8d0;
  }

  .teal,
  .teal.lighten-1 {
    background-color: #9c27b0 !important;
  }

  .teal.lighten-2 {
    background-color: #9c27b0 !important;
  }

  .sidenav-trigger,
  .teal-text.text-lighten-2 {
    color: #9c27b0 !important;
  }

  input:not([type]):focus:not([readonly]) + label,
  input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
    + label,
  input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #9c27b0 !important;
  }

  input:not([type]):focus:not([readonly]),
  input[type="text"]:not(.browser-default):focus:not([readonly]),
  input[type="password"]:not(.browser-default):focus:not([readonly]),
  input[type="email"]:not(.browser-default):focus:not([readonly]),
  input[type="url"]:not(.browser-default):focus:not([readonly]),
  input[type="time"]:not(.browser-default):focus:not([readonly]),
  input[type="date"]:not(.browser-default):focus:not([readonly]),
  input[type="datetime"]:not(.browser-default):focus:not([readonly]),
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
  input[type="tel"]:not(.browser-default):focus:not([readonly]),
  input[type="number"]:not(.browser-default):focus:not([readonly]),
  input[type="search"]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9c27b0;
    -webkit-box-shadow: 0 1px 0 0 #9c27b0;
    box-shadow: 0 0 6px 0 #9c27b0;
  }

  input.valid:not([type]),
  input.valid:not([type]):focus,
  input[type="text"].valid:not(.browser-default),
  input[type="text"].valid:not(.browser-default):focus,
  input[type="password"].valid:not(.browser-default),
  input[type="password"].valid:not(.browser-default):focus,
  input[type="email"].valid:not(.browser-default),
  input[type="email"].valid:not(.browser-default):focus,
  input[type="url"].valid:not(.browser-default),
  input[type="url"].valid:not(.browser-default):focus,
  input[type="time"].valid:not(.browser-default),
  input[type="time"].valid:not(.browser-default):focus,
  input[type="date"].valid:not(.browser-default),
  input[type="date"].valid:not(.browser-default):focus,
  input[type="datetime"].valid:not(.browser-default),
  input[type="datetime"].valid:not(.browser-default):focus,
  input[type="datetime-local"].valid:not(.browser-default),
  input[type="datetime-local"].valid:not(.browser-default):focus,
  input[type="tel"].valid:not(.browser-default),
  input[type="tel"].valid:not(.browser-default):focus,
  input[type="number"].valid:not(.browser-default),
  input[type="number"].valid:not(.browser-default):focus,
  input[type="search"].valid:not(.browser-default),
  input[type="search"].valid:not(.browser-default):focus,
  textarea.materialize-textarea.valid,
  textarea.materialize-textarea.valid:focus,
  .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #9c27b0;
    -webkit-box-shadow: 0 1px 0 0 #9c27b0;
    box-shadow: 0 0 2px 0 #7d7d7d;
  }

  .chip .close {
    background: #0000009e;
  }

  .chip .close:hover {
    background: #000000;
  }

  .chip.selected_number,
  #pagingBox div.chip.selected {
    background: #9c27b0;
  }

  .container_selected_number small > span {
    color: #9c27b0;
  }

  .btn:hover,
  .btn-large:hover,
  .btn-small:hover {
    background-color: #000000;
  }

  .chip.misticketsson {
    background: #9c27b0;
  }

  @media screen and (min-width: 992px) {
    body widget {
      -webkit-filter: drop-shadow(1px 1px 6px #9c27b0);
      filter: drop-shadow(1px 1px 6px #9c27b0);
    }
  }

  body widget[type="ticket"] .top,
  body widget[type="ticket"] .bottom,
  body widget[type="ticket"] .rip {
    background-color: #9c27b0;
  }

  body widget[type="ticket"] .rip:before,
  body widget[type="ticket"] .rip:after {
    border-top-color: #000000 !important;
    border-right-color: #000000 !important;
  }
  body {
    font-family: "Pixel", sans-serif; /* Cambia 'Pixel' por la fuente que desees */
    font-size: 16px; /* Tamaño de fuente en píxeles */
    background-color: #f0f0f0; /* Color de fondo */
    color: #8e6ace; /* Color del texto */
  }
  .pixel-text {
    font-size: 32px; /* Tamaño de letra en píxeles */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 1px 1px 0 #fff; /* Sombra para dar efecto de píxel */
  }
  body widget[type="ticket"] .buy,
  body widget[type="ticket"] .bottom > strong {
    color: #9c27b0;
  }

  body widget[type="ticket"] .top {
    border-left: 2px solid #9c27b0;
    border-right: 2px solid #9c27b0;
  }

  body widget[type="ticket"] .bottom > strong {
    border: 2px dashed #9c27b0;
  }

  body widget[type="ticket"] .mode,
  body widget[type="ticket"] .status {
    color: #9c27b0;
  }

  body widget .container_banner > div.tourname {
    background: #9c27b0;
    background: linear-gradient(180deg, #9c27b0 0%, #9c27b0 100%);
  }

  body widget[type="ticket"] .rip {
    box-shadow: 0 1px 0 0 #9c27b0, 0 -1px 0 0 #9c27b0;
  }

  .bandname.-bold {
    border-top: 4px solid #000000;
    color: #9c27b0;
  }

  .switch label input[type="checkbox"]:checked + .lever {
    background-color: #9c27b0;
  }

  .switch label input[type="checkbox"]:checked + .lever:after {
    background-color: #000000;
  }

  .footer-section {
    background-color: #9c27b0;
  }

  .modal i {
    color: #9c27b0;
  }

  #randomShuffleNumber {
    transition: all 0.66s ease-out;
  }

  .generate.number.winner {
    color: #9c27b0;
    text-shadow: 0 0 22px #0000004a;
  }

  .generate.number {
    color: #9c27b0;
  }

  #buttfixed {
    background: #9c27b0;
  }

  #buttfixed:hover {
    background: #000000;
  }

  .ticket-opcion {
    background-color: #c491cd;
    /* Color de fondo verde */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 15px 20px;
    /* Espaciado interno */
    font-size: 20px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
    display: inline-flex;
    /* Para centrar el contenido */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
    transition: background-color 0.3s;
    /* Transición suave para el color de fondo */
  }

  .ticket-opcion:hover {
    background-color: #9c27b0;
    /* Color de fondo al pasar el mouse */
  }

  .ticket-opcion:disabled {
    background-color: #ccc;
    /* Color de fondo para botones deshabilitados */
    cursor: not-allowed;
    /* Cursor de no permitido */
  }

  #buttfixed > span {
    color: #9c27b0;
  }

  .modal-overlay {
    background: #9c27b0;
  }

  img.loading {
    background: #000000c4;
  }

  .footer-social-media-icon .fa:hover {
    color: #000000;
  }

  body .chip {
    width: 60px;
  }
</style>
<link rel="stylesheet" href="/static/rifas/style_original.css" />
<input type="hidden" value="{{evento.precio_unidad}}" id="precio-unidad-js">
<input type="hidden" value="{{evento.minimo}}" id="minimo-tickets-js">
<div class="container pricing-container pricing-head" id="lista_boletos">
  <article class="card">
    <form
      action=""
      method="post"
      enctype="multipart/form-data"
      onsubmit="return confirmarTickets(this, event)"
    >
      {% csrf_token %}
      <input type="hidden" id="total_tickets" value="{{evento.total_tickets}}">
      <div class="container">
        <div class="card-body container-payment">
          <div class="payment-type">
            <div class="pricing-title">
              <i class="fa fa-ticket fixleft" aria-hidden="true"></i>
              <i class="fa fa-ticket fixright" aria-hidden="true"></i>
              <h2><span id="formTitle">LISTA DE BOLETOS</span></h2>
            </div>
            <div id="new-purchase">
              <div id="containerBtnTickets" class="col-lg-12 mb-40">
                <div class="row">
                  <div class="col s12 m12 text-center quantity_multiplier">
                    {% if evento.promociones %}
                      {% for promocion in evento.promociones %}
                      <h3
                        class="textTicketPromos"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-original-title="Promoción 0x-1"
                      >
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="quantityTotalTicketsPromos">
                          {{promocion.cantidad_tickets}} boletos por {{promocion.precio}}$
                        </span>
                      </h3>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="input-field col col-lg-12 s12 m12 text-center">
                    <div class="plusminus horiz">
                      <button
                        type="button"
                        id="btnMinus"
                        disabled=""
                        onclick="removeTicket()"
                      ></button>
                      <div>
                        <input
                          id="ticketQty"
                          type="number"
                          name="productQty"
                          value="{{evento.minimo}}"
                          min="{{evento.minimo}}"
                          max="100"
                        />
                        <span class="ticket_name">BOLETO</span>
                      </div>
                      <button
                        type="button"
                        id="btnPlus"
                        onclick="addTicket()"
                      ></button>
                    </div>
                  </div>
                  <div class="col s12 m12 text-center monto-total-compra">
                    <h3
                      id="montoTotal"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Dólares Americanos"
                    >
                      Total:
                      <span>
                        USD&nbsp;
                        <span class="total-boleto">{{evento.precio_unidad}}$ </span>
                      </span>
                    </h3>
                    <h5>Tasa: {{dolar}} Bs</h5>
                    <h5>Total: <b class="precio-bs">101 Bs</b></h5>
                    <small
                      class="textDiscounts"
                      style="display: none"
                      id="textCostByTicket"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title=""
                      data-original-title="Boleto con Descuento"
                      >Boleto:
                      <span id="costByTicket">USD&nbsp;{{evento.precio_unidad}}$ </span></small
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 p0">
                  <div class="card-content">
                    <div class="row center text-center container_tickets_boxes">
                      <div class="col-12 s12 m6 p0">
                        <h6>
                          <div id="containerSearch" class="mb-2">
                            <button
                              type="button"
                              id="btnSearchTickets"
                              class="magic_button show"
                            >
                              <i class="fa fa-search" aria-hidden="true"></i>
                              BUSCAR
                            </button>
                            <input
                              id="inputSearchTicket"
                              style="display: none"
                              type="tel"
                              class="validate invalid"
                              maxlength="4"
                            />
                            <button
                              type="button"
                              id="resetSearchTicket"
                              class="magic_button"
                              style="display: none"
                              value="Reset"
                            >
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </div>
                          <br />
                          {% if evento.total_tickets < 201 %}
                            <button
                              type="button"
                              id="btnChooseRandomChips"
                              class="magic_button show"
                              onclick="randomTickets()"
                            >
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <small id="formBtnRandom">Elegir a la Suerte</small>
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                          {% endif %}
                        </h6>
                        {% if evento.total_tickets < 201 %}
                            {% include 'rifa/seleccion_boletos.html' %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 p0">
                  <div
                    id="container_select_to_fixed"
                    class="row center text-center container_selected"
                    style="display: block"
                  >
                    <div class="col-12 s12 m6 p0">
                      <div
                        id="btn_view_selected"
                        class="btn_view_selected fa fa-chevron-down"
                        style="display: none"
                        aria-hidden="true"
                      ></div>
                      <div class="info_fixed">
                        {% if evento.total_tickets < 201 %}
                        <div class="cards_fixed">
                          <strong class="text_selected_ticket">
                            SELECCIONADOS
                          </strong>
                          <strong id="textSeleccionados">
                            <span class="cantidad-seleccionado">0</span> de
                            <span class="cantidad-boleto">1</span>
                          </strong>
                        </div>
                        {% endif %}
               
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <h4>
                <i class="fa fa-user" aria-hidden="true"></i> DATOS PERSONALES
              </h4>
              <div class="col-lg-12 mb-30 p0">
                <div class="row mbp0">
                  <div class="input-field col col-lg-6 col-6">
                    <label for="nombre" class="active"
                      >Nombres y Apellidos *</label
                    >
                    <input
                      placeholder=""
                      id="nombre"
                      name="nombre"
                      type="text"
                      class="validate invalid"
                      minlength="8"
                      maxlength="66"
                      required=""
                    />
                  </div>
                  <div class="input-field col col-lg-6 col-6">
                    <label class="mr20 active" for="celular">Celular *</label
                    ><br />
                    <div class="row">
                      <div class="col-4">
                        {% include 'components/country_code_select.html' %}
                      </div>
                      <div class="col-8">
                        <input
                          placeholder=""
                          id="celular"
                          type="tel"
                          class="validate invalid"
                          maxlength="14"
                          minlength="8"
                          required=""
                          style="width: 100%"
                          name="celular"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sectionAllPayments">
              <h4 class="mt-20">
                <i class="fa fa-bank" aria-hidden="true"></i> MODOS DE PAGO
              </h4>
              <div class="col-lg-12 mb-10">
                <div class="row">
                  <div class="input-field col s6 m6">
                    <h6>Transferencia o depósito</h6>
                  </div>
                </div>
              </div>
              <div
                id="container-payments"
                class="types flex justify-space-between payments-options mb-30"
              >
                <div
                  id="BINANCE-4265"
                  data-id="3"
                  class="type option-payment selected"
                >
                  <div class="logo">
                    <img src="/static/rifas/binance.webp" width="86" alt="Binance" />
                  </div>
                  <div class="text" hidden>Binance</div>
                  <div class="content" hidden>
                    <div>
                     <img src="/static/rifas/binance-qr.jpeg" alt="QR Code" width="200" height="200">
                    </div>
                    <div class="titularBank">
                      <span>TITULAR</span>Johny López
                    </div>
                  </div>
                </div>
                <div
                  id="BANCOLOMBIA-4267"
                  data-id="1"
                  class="type option-payment"
                >
                  <div class="logo">
                    <img src="/static/rifas/bancolombia.png" width="86" alt="Bancolombia" />
                  </div>
                  <div class="text" hidden>Bancolombia</div>
                  <div class="content" hidden>
                      <div>
                        <img src="/static/rifas/bancolombia-qr.jpeg" alt="QR Code" width="200" height="200">
                      </div>
                      <div class="titularBank" onclick="copyToClipboard('Jose Gregorio Delgado')">
    <span>TITULAR</span>Jose Gregorio Delgado
</div>
<div class="titularBank" onclick="copyToClipboard('2338844')">
    <span>Documento Pasaporte</span>2338844
</div>
<div class="titularBank" onclick="copyToClipboard('72500004376')">
    <span>Cuenta Ahorro</span>72500004376
</div>


                  </div>
                </div>
                <div
                  id="PAGO_MOVIL-4266"
                  data-id="2"
                  class="type option-payment"
                  onclick="cambiarPago(this)"
                >
                  <div class="logo">
                    <img
                      src="/static/rifas/vepagomovilc2c.png"
                      width="86"
                      alt="PagomóvilBDV"
                    />
                  </div>
                  <div class="text" hidden>Pagomóvil BDV</div>
                  <div class="content" hidden>
                    <div>
                      <div>
    <span class="nameAccountNumber"> Teléfono</span>
    <h3 onclick="copyToClipboard('04127319422')">04127319422</h3>
</div>
<div>
    <span class="nameAccountNumber"> Banco</span>
    <h3 onclick="copyToClipboard('0102')">0102</h3>
</div>
<div>
    <span class="nameAccountNumber"> Cédula</span>
    <h3 onclick="copyToClipboard('26498112')">26498112</h3>
</div>
<div class="titularBank" onclick="copyToClipboard('Johny López')">
    <span>TITULAR</span>Johny López
</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="datosBanco" class="text-center input-field col s12 m6">
                <input type="hidden" name="metodo" id="metodo-value" value="">
                <div>
                  <h6>
                    <span
                      id="metodo-titulo"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title=""
                      data-original-title="Zelle"
                      >ZELLE</span
                    >
                    <span
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title=""
                      data-original-title="Cuenta Personal"
                      ><i class="help-account fa fa-user" aria-hidden="true"></i
                    ></span>
                  </h6>
                </div>
                <div id="contenido-pago">
                </div>
              </div>
            </div>
            <div id="priceConvert" class="pricefixed">
              <strong
                data-toggle="tooltip"
                data-placement="bottom"
                data-original-title="Dólares Americanos"
                >Total: <span class="total-boleto">{{evento.precio_unidad}}$</span> USD</strong
              >
              <small>(<span class="cantidad-boleto">{{ evento.minimo }}</span> boleto)</small>
            </div>
          </div>

          <div class="containerAllVoucher">
            <h4 class="mt-40">
              <i class="fa fa-file-text" aria-hidden="true"></i>
             COMPROBANTE DE PAGO
              </h4>
              <div class="col-lg-12 mb-10">
                <div class="row">
                  <div class="input-field col s6 m6">
                    <h6 id="formLblVoucher">Foto o Captura de Pantalla</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-30 nopadding">
                <div class="row">
                  <div id="container_voucher_up" class="col col-12 s12 m6 col-lg-12 elegirbanco">
                    <div id="formimage" class="file-field input-field s-voucher" style="display: block">
                      <div class="btn" id="file-btn">
                        <span><i class="fa fa-upload" aria-hidden="true"></i></span>
                      </div>
                      <div class="file-path-wrapper" style="position: static;width:100%;text-align:center">
                        <img id="comprobante-preview" src="" style="width: 200px;height: auto;max-width: 100%;margin:auto" alt="Comprobante" />
                        <input id="file-label" class="file-path validate" type="text" placeholder="Foto/Captura de Pantalla" />
                      </div>
                      <input id="files" data-maxwidth="992" data-maxheight="992" type="file" required accept="image/*"
                        name="foto" onchange="fileChange(this)" />
                    </div>
                    <script>
                      function fileChange(input){
                        if (input.files && input.files[0]) {
                          const reader = new FileReader();

                          reader.onload = function (e) {
                            document.getElementById('comprobante-preview').setAttribute('src', e.target.result);
                          };

                          reader.readAsDataURL(input.files[0]);
                          document.getElementById('file-label').hidden = true;
                          document.getElementById('file-btn').hidden = true;
                        }
                      }
                    </script>
                  <h6 id="montoCorrecto">
                    <strong class="total-boleto">{{evento.precio_unidad}}$ </strong>
                    o
                    <strong class="precio-bs">150bs</strong>
                    (
                    <span class="cantidad-boleto">1</span>
                    boleto )
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-30 text-center">
        <label class="labelPersonalData form-check" content="">
          <small
            >Al confirmar autorizo el uso de
            <a href="#" id="openModalUseData" class="link"
              >Mis Datos Personales</a
            >
          </small>
        </label>
        <label
          class="labelClientTermsConds form-check"
          for="checkboxClientTermsConds"
          content=""
          style="display: none"
        >
          <input
            id="checkboxClientTermsConds"
            class="form-check-input"
            name="checkboxClientTermsConds"
            type="checkbox"
          />
          <small
            >Acepto los
            <a href="#" id="openModalTermsConds" class="link"
              >Términos y Condiciones</a
            >
          </small>
        </label>
      </div>
      <div class="col-lg-12 mb-30 text-center">
        <button type="submit" class="btn-large" id="confirmTickets">
          Confirmar
        </button>
      </div>
    </form>
  </article>
  <p class="text-center termsGoogle">
    <small class="gray"
      >Sitio Web protegido por reCaptcha™ de Google. Aplican su
      <a
        class="link link-s"
        rel="nofollow noopener noreferrer"
        href="https://policies.google.com/privacy"
        target="_blank"
        >Política de Privacidad</a
      >
      y
      <a
        class="link link-s"
        href="https://policies.google.com/terms"
        rel="nofollow noopener noreferrer"
        target="_blank"
        >Términos del Servicio</a
      ></small
    >
  </p>
  <p class="text-center">
    <small class="gray"
      >Centro de Ayuda: <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <span class="phoneClient">+584124454046</span></small
    >
  </p>
</div>
<script src="/static/rifas/lista-boletos.js"></script>
<script>
function copyToClipboard(text) {
  if (navigator.clipboard && navigator.clipboard.writeText) {
    navigator.clipboard.writeText(text)
      .then(() => {
        alert('¡Copiado al portapapeles!'); // Opcional: mostrar una confirmación
      })
      .catch(err => {
        console.error('Error al copiar al portapapeles: ', err);
      });
  } else {
    // Para navegadores más antiguos
    const textArea = document.createElement("textarea");
    textArea.value = text;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand('copy');
    document.body.removeChild(textArea);
    alert('¡Copiado al portapapeles!'); // Opcional: mostrar una confirmación
  }
}
</script>