<div id="sectionAllPayments">
  <h4 class="mt-20">
    <i class="fa fa-bank" aria-hidden="true"></i> MODOS DE PAGO
  </h4>
  <div class="col-lg-12 mb-10">
    <div class="row">
      <div class="input-field col s6 m6">
        <h6>Transferencia o depósito</h6>
      </div>
    </div>
    <div id="container-payments"
      class="types flex justify-space-between payments-options mb-30">
      {% for metodo in metodos %}
        <div data-id="{{ metodo.pk }}"
          class="type option-payment"
          onclick="cambiarPago(this)">
          <div class="logo">
            <img src="{{ metodo.imagen.url }}"
              width="86"
              alt="{{ metodo.banco }}" />
          </div>
          <div class="text" hidden>{{ metodo.banco }}</div>
          <div class="content" hidden>
            <div>
              <div>
                {% for titulo, contenido in metodo.contenidos %}
                  {% if titulo %}
                    {% if forloop.counter == 1 and metodo.moneda == 'Bs' %}
                      <a href="javascript:void(0)"
                        id="copiar-todo-btn"
                        class="cuenta-copiable"
                        onclick="copiarTodo(this, '{{ metodo.pk }}')">
                        COPIAR TODO
                      </a>
                    {% endif %}
                    <span class="nameAccountNumber">{{ titulo }}</span>
                  {% endif %} {% if contenido %}
                    <h3 class="metodo-contenido">
                      {{ contenido }} {% include 'components/copyButton.html' %}
                    </h3>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="titularBank">
                <span>TITULAR</span>{{ metodo.titular }}
                <h6 id="montoCorrecto">
                  <span class="nameAccountNumber">MONTO</span>
                  {% if metodo.moneda == '$' %}
                    <strong class="total-boleto precio-dolar monto-metodo">
                      {{ evento.precio_unidad }}$
                    </strong>
                    <button style="box-shadow: 0 0 2px 1px #d6282880;"
                      title="Copiar"
                      onclick="actionButtonAccounts('copy', this, document.querySelector('.total-boleto').innerText)"
                      class="magic_button"
                      type="button">
                      <i class="fa fa-file"></i>
                    </button>
                  {% endif %}
                  {% if metodo.moneda == '€' %}
                    <strong class="total-boleto-euro monto-metodo">
                      {{ evento.precio_unidad }}€
                    </strong>
                    <button onclick="actionButtonAccounts('copy', this, document.querySelector('.total-boleto').innerText)"
                      class="magic_button"
                      title="Copiar"
                      type="button"
                      style="box-shadow: 0 0 2px 1px #d6282880;">
                      <i class="fa fa-file"></i>
                    </button>
                  {% endif %}
                  {% if metodo.moneda == 'Bs' %}
                    <strong class="precio-bs monto-metodo"></strong>
                    <button style="box-shadow: 0 0 2px 1px #d6282880;"
                      title="Copiar"
                      onclick="actionButtonAccounts('copy', this, document.querySelector('.precio-bs').innerText)"
                      class="magic_button"
                      type="button">
                      <i class="fa fa-file"></i>
                    </button>
                  {% endif %}

                  <br />
                  <div class="mt-2">
                    (
                    <span class="cantidad-boleto">1</span>
                    boletos )
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          document
            .getElementById("container-payments")
            .firstElementChild.classList.add("selected");
        });
      </script>
    </div>
  </div>
</div>
