<nav
  id="navbar"
  class="navbar fixed-top navbar-expand-lg navbar-header navbar-mobile header-scrolled"
  style="background: #f7f2f21c; border: none"
>
  <div class="navbar-container container">
    <!-- LOGO -->
    <div class="navbar-brand">
      <a class="navbar-brand-logo" href="#">
        <img
          src="/static/img/logo.png"
          style="
            border-radius: 47%;
            width: 170px;
            height: 170px;
            object-fit: cover;
          "
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-th-large" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul
        class="navbar-nav menu-navbar-nav"
        style="display: flex; justify-content: center; padding: 0"
      >
        <li class="nav-item" style="margin: 0 15px">
          <!-- Espacio lateral -->
          <a
            class="header-title pixeleado"
            style="color: rgb(241, 241, 236)"
            href="#"
          >
            <p
              class="header-title pixeleado"
              style="color: #d62828; font-size: 30px"
            >
              INICIO
            </p>
          </a>
        </li>
        <li class="nav-item" style="margin: 0 15px">
          <!-- Espacio lateral -->
          <a
            class="header-title pixeleado"
            style="color: rgb(240, 240, 233)"
            href="#cuentaPago"
          >
            <p
              class="header-title pixeleado"
              style="color: #d62828; font-size: 30px"
            >
              CUENTAS DE PAGO
            </p>
          </a>
        </li>
        <li class="nav-item" style="margin: 0 15px">
          <!-- Espacio lateral -->
          <a
            class="header-title pixeleado"
            style="color: rgb(243, 243, 238)"
            href="#footer"
          >
            <p
              class="header-title pixeleado"
              style="color: #d62828; font-size: 30px"
            >
              CONTACTO
            </p>
          </a>
        </li>
        <li class="nav-item" style="margin: 0 15px">
          <!-- Espacio lateral -->
          <a
            class="header-title pixeleado"
            style="color: rgb(248, 248, 243)"
            href="#disponible"
          >
            <p
              class="header-title pixeleado"
              style="color: #d62828; font-size: 30px"
            >
              EVENTOS
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
