<nav
  id="navbar"
  class="navbar fixed-top navbar-expand-lg navbar-header navbar-mobile header-scrolled"
>
  <div class="navbar-container container">
    <!-- LOGO -->
    <div class="navbar-brand">
      <a class="navbar-brand-logo" href="#">
        <img
          src="https://rifarito.s3.amazonaws.com/uploads/client/logo/2330/logoMG-20241216-WA0049.png?X-Amz-Expires=86400&amp;X-Amz-Date=20250524T231230Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250524%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=505bd0cfc229c3cafbcb011b9ad206440b7a0db2b4ba63a6db25c5abad15b078"
          style="width: 100px"
          width="220px"
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-th-large" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav menu-navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#top">
            <p class="nav-link-menu">INICIO</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pagos">
            <p class="nav-link-menu">CUENTAS DE PAGO</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">
            <p class="nav-link-menu">CONTACTO</p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link learn-more-btn btn-invert" href="#eventos"
            >Eventos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
