<style>
    .ticket-opcion{
        color: #d62828;
        border: 1px solid #f4f4fa;
        background-color: transparent;
        font-size: 16px;
    }
    .ticket-opcion:disabled{
        filter: grayscale(100%);
        background-image: url('/static/img/rocket.svg');  
        background-size: cover;
        background-color: unset;  
    }

    .ticket-opcion:hover {
        background-color: #ba83c4;
    }
    .ticket-opcion.seleccionado {
        background-image: url('/static/img/rocket.svg');  
        background-size: cover;
        background-color: #817ed5;
    }
</style>
<div
    id="lista"
    class="input-field col s12 containtickets"
>
    {% for numero in tickets %}
    <!-- si ya esta agarrado -->
    {% if numero in agarrados %}
    <button 
    type="button" 
    class="ticket-opcion" 
    disabled 
    >
    {{numero}}
    </button>
    {% else %}
    <button
    type="button"
    class="ticket-opcion"
    onclick="seleccionarTicket(this)"
    data-ticket="{{numero}}"
    >
    {{numero}}
    </button>
    {% endif %}
    <!-- Fin si ya esta agarrado -->
    {% endfor %}
</div>