<div class="contact-section" id="verificador">
  <div class="container contact-container text-center">
    <div class="col-md-6 contact-title-section text-center card">
      <h2 class="contact-title mt-4">VERIFICADOR</h2>
      <p class="contact-subtitle mb-2">DE BOLETOS</p>
      <div id="boxsearchcel" class="row">
        <div class="input-field col-4 s12 m6 verificar-box">
          {% include 'components/country_code_select.html' %}
        </div>
        <div class="input-field col-8 s12 m6">
          <input type="tel"
            id="telefonoInput"
            placeholder="Ingrese su número de teléfono"
            class="px-3"
            value="{{ request.GET.cel }}" />

          <label for="findPhone" class="active">Número de Teléfono</label>
        </div>
        <div class="input-field col s12 m6">
          <button class="btn-large" onclick="searchBuyer()" id="verificar-btn">
            <i class="fa fa-search" aria-hidden="true"></i> Buscar
          </button>
        </div>
      </div>
      <div class="learn-more-btn-section"></div>
    </div>
    <div id="resultTickets"
      class="col-md-12 col s12 m12 mt-4"
      style="display: block;"
      hidden>
      <h5>
        <div id="qrCode" class="qr" alt="QR" width="120" height="120"></div>
        <br />
        <div class="switch">
          <div class="custom-control custom-switch">
            <input type="checkbox"
              class="custom-control-input"
              checked
              onchange="verBoletos(this)"
              id="soloNumeros" />
            <label class="custom-control-label" for="soloNumeros">
              Sólo números
            </label>
          </div>
        </div>
        <div>
          <button data-toggle="modal"
            data-target="#modalVerificar"
            class="btn-modal">
            Mostrar detalles
          </button>
        </div>
        <div>
          Total: <span id="total-verificados"></span> tickets
        </div>
      </h5>
      <div id="misticketsdiv" class="input-field col s12">
        <div id="numbersContain" style="display: block;"></div>
        <div id="ticketsContain">
          <div id="container_ticket" class="container_ticket" hidden></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalVerificar" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verificación de Boleto</h5>
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalVerificarBody">
        <div id="verificarData"></div>
      </div>
    </div>
  </div>
</div>

<script>
  let qrcode;
  const verificar_participante = {
    boletos: [],
    telefono: "",
    nombre: "",
    total: 0,
  };

  function resetParticipante() {
    verificar_participante.boletos = [];
    verificar_participante.nombre = "";
    verificar_participante.telefono = "";
    verificar_participante.total = 0;
  }
  async function searchBuyer() {
    resetParticipante();
    const telefono = document.querySelector("#telefonoInput").value.trim();
    const country_code = document.querySelector(
      ".verificar-box #country_code"
    ).value;
    const totalVerificados = document.getElementById("total-verificados");
    const formData = new FormData();
    formData.append("celular", telefono);
    formData.append("country_code", country_code);
    formData.append("evento_id", "{{evento.id}}");
    const response = await fetch("/verificar/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: formData,
    });
    const data = await response.json();
    let html = "";

    if (data.result.length == 0) {
      html = `<h5 class="mx-auto mb-3">No se han encontrado boletos asociados</h5>`;
      totalVerificados.innerText = "0";
    }
    let cont = 0;
    const numbersContain = document.getElementById("numbersContain");
    numbersContain.innerHTML = "";
    const ticketsContain = document.getElementById("container_ticket");
    ticketsContain.innerHTML = "";
    ticketsContain.classList.remove("rendered");
    for (let comprobante of data.result) {
      cont++;
      html += `
      <h5 class="mx-auto mb-3 text-center">Comprobante ${cont}</h5>
      <div class="row">
          <div class="col-lg-6 text-center"><b>Nombre</b><br />${
            comprobante.nombre
          }</div>
          <div class="col-lg-6 text-center"><b>Fecha</b><br />${
            comprobante.fecha
          }</div>
          <div class="col-lg-6 text-center">
            <b>Estatus</b> <br />${comprobante.status}
          </div>
          <div class="col-lg-6 text-center">
            <b>Boletos</b> <br />${comprobante.boletos.join(", ")}
          </div>
        </div>`;
      verificar_participante["nombre"] = comprobante.nombre;
      verificar_participante["telefono"] = comprobante.telefono;
      verificar_participante["boletos"].push({
        fecha: comprobante.fecha,
        numeros: comprobante.boletos,
        status: comprobante.status,
      });
      comprobante.boletos.forEach((element) => {
        createNumberV(numbersContain, element);
        verificar_participante.total += 1;
      });
    }
    const resultDiv = document.getElementById("resultTickets");
    resultDiv.hidden = false;
    document
      .getElementById("verificador")
      .scrollIntoView({ behavior: "smooth" });
    document.querySelector("#modalVerificarBody").innerHTML = html;
    qrcode.makeCode(
      "https://www.chipibikelifee.com/rifa/{{evento.url}}/?phone=" +
        verificar_participante.telefono
    );
    totalVerificados.innerText = verificar_participante.total;
  }

  /**
   * @param {HTMLDivElement} parent
   * @param {number} num
   */
  function createNumberV(parent, num) {
    const div = document.createElement("div");
    div.classList.add("chip", "misticketsson", "verificar-tickets");
    div.innerText = num;
    parent.appendChild(div);
  }

  /**
   * @param {HTMLInputElement} checkbox
   */
  function verBoletos(checkbox) {
    const numbersContain = document.getElementById("numbersContain");
    const ticketsContain = document.getElementById("container_ticket");

    if (checkbox.checked) {
      numbersContain.hidden = false;
      ticketsContain.hidden = true;
    } else {
      numbersContain.hidden = true;
      ticketsContain.hidden = false;
      if (!ticketsContain.classList.contains("rendered")) {
        renderTickets();
      }
    }
  }

  function renderTickets() {
    const ticketsContain = document.getElementById("container_ticket");
    ticketsContain.classList.add("rendered");
    for (const compŕobante of verificar_participante.boletos) {
      for (const numero of compŕobante.numeros) {
        appendTicket(
          ticketsContain,
          compŕobante.status,
          verificar_participante.nombre,
          verificar_participante.telefono,
          numero,
          compŕobante.fecha
        );
      }
    }
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  }
  document.addEventListener("DOMContentLoaded", function () {
    const cod = "{{request.GET.cod}}";
    if (cod == "") return;
    const cod_elem = document.querySelector(`#verificador [value='+${cod}']`);
    if (!cod_elem) return;
    cod_elem.selected = true;
    document.getElementById("verificar-btn").click();
  });
  document.addEventListener("DOMContentLoaded", function () {
    let phone = "{{request.GET.phone}}";
    if (phone.startsWith(" ")) {
      phone = phone.replace(" ", "+");
    }
    const codes_list = document.querySelectorAll("#verificador option");
    for (const element of codes_list) {
      const code = element.value;
      if (phone.startsWith(code)) {
        element.selected = true;
        const clean_phone = phone.replace(code, "");
        document.querySelector("#telefonoInput").value = clean_phone;
        document.getElementById("verificar-btn").click();
        break;
      }
    }
  });

  /**
   * @param {HTMLElement} parent
   * @param {string} status
   * @param {string} nombre
   * @param {string} telefono
   * @param {string} numero
   * @param {string} fecha
   */
  function appendTicket(parent, status, nombre, telefono, numero, fecha) {
    const element = document.createElement("widget");
    element.classList.add("--flex-column", "mt-2");
    element.setAttribute("type", "ticket");
    element.id = "widgetTicketDownload-1000";
    element.innerHTML = `
        <div class="top --flex-column container_banner">
          <div class="buy"
            data-toggle="tooltip"
            data-placement="bottom"
            title="BOLETO DIGITAL">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <div class="status" style="color: #4a1900;"
             data-toggle="tooltip" data-placement="bottom" 
             title="Pago verificado"><i class="" aria-hidden="true"></i></div>
          <div class="bandname -bold">
            <img src="{{ cliente.logo.url }}"
              alt="Logo"
              width="55"
              height="55" /><br />
            {{ cliente.nombre }}<br />
          </div>
          <div class="tourname">{{ evento.nombre }}</div>
          <div class="imagenfondo">
            <img src="{{ evento.foto.url }}"
              alt="Banner"
              width="280"
              height="330" />
          </div>
          <div id="nombres" class="nombres">
            <span class="ticket_status">
              <i aria-hidden="true"></i> <span class="status-txt"></span>
            </span>

            <span>
              <i class="fa fa-user-circle" aria-hidden="true"></i> ${nombre}
            </span>
            <span>
              <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
              ${telefono}
            </span>
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i> ${fecha}
            </span>
          </div>
          <div class="deetz --flex-row-j!sb">
            <div class="ticket-date event --flex-column">
              <div class="date -bold">{{ evento.fecha_fin|date:'d F Y' }}</div>
            </div>
            <div class="ticket-date --flex-column">
              <div class="cost -bold">10:00 PM</div>
            </div>
          </div>
        </div>
        <div class="rip"></div>
        <div class="bottom --flex-row-j!sb">
          <strong style="font-size:22px"><b>${numero}</b></strong>
        </div>
    `;
    parent.appendChild(element);
    const statusElement = element.querySelector(".status");
    if (status == "Verificado") {
      statusElement.querySelector("i").classList.add("fa", "fa-check-circle");
      element
        .querySelector(".ticket_status i")
        .classList.add("fa", "fa-check-circle");
      statusElement.title = "Pago Verificado";
      element.querySelector(".status-txt").innerText = "Pago Verificado";
    } else {
      statusElement.querySelector("i").classList.add("fa-regular", "fa-clock");
      element
        .querySelector(".ticket_status i")
        .classList.add("fa-regular", "fa-clock");
      statusElement.title = "Verificación Pendiente";
      element.querySelector(".status-txt").innerText = "Verificación Pendiente";
    }
  }
  document.addEventListener("DOMContentLoaded", () => {
    qrcode = new QRCode(document.getElementById("qrCode"), {
      width: 100,
      height: 100,
    });
  });
</script>
