<div class="contact-section" id="verificador">
  <div class="container contact-container text-center">
    <div class="col-md-6 contact-title-section text-center card">
      <h2 class="contact-title mt-4">VERIFICADOR</h2>
      <p class="contact-subtitle mb-2">DE BOLETOS</p>
      <div id="boxsearchcel" class="row">
        <div class="input-field col-4 s12 m6 verificar-box">
          {% include 'components/country_code_select.html' %}
        </div>
        <div class="input-field col-8 s12 m6">
          <input type="tel"
            id="telefonoInput"
            placeholder="Ingrese su número de teléfono"
            class="px-3"
            value="{{ request.GET.cel }}" />

          <label for="findPhone" class="active">Número de Teléfono</label>
        </div>
        <div class="input-field col s12 m6">
          <button class="btn-large"
            onclick="searchBuyer()"
            data-toggle="modal"
            id="verificar-btn"
            data-target="#modalVerificar">
            <i class="fa fa-search" aria-hidden="true"></i> Buscar
          </button>
        </div>
      </div>
      <div class="learn-more-btn-section"></div>
    </div>
    <div id="resultTickets"
      class="col-md-12 col s12 m12 mt-4"
      style="display: block;">
      <h5>
        <strong id="msjNombre"></strong>
        <br />
        <img id="qrCode" class="qr" src="" alt="QR" width="120" height="120" />
        <br />
        <div class="switch">
          <div class="custom-control custom-switch">
            <input type="checkbox"
              class="custom-control-input"
              id="soloNumeros" />
            <label class="custom-control-label" for="soloNumeros">
              Sólo números
            </label>
          </div>
        </div>
      </h5>
      <div id="misticketsdiv" class="input-field col s12">
        <div id="numbersContain" style="display: block;">
          <div class="chip misticketsson">1000</div>
        </div>
        <div id="ticketsContain">
          <div class="container_ticket">
            <widget id="widgetTicketDownload-1000"
              type="ticket"
              class="--flex-column">
              <div class="top --flex-column container_banner">
                <div class="buy"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title=""
                  data-original-title="BOLETO DIGITAL">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="status"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title=""
                  data-original-title="Pago Verificado">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="bandname -bold">
                  <img src="{{ evento.logo.url }}"
                    alt="Logo"
                    width="55"
                    height="55" /><br />
                  PEGANDO CORRIENTE440<br />
                </div>
                <div class="tourname">COMBO PAPÁ GUERRERO</div>
                <div class="imagenfondo">
                  <img src="https://rifarito.s3.amazonaws.com/uploads/raffle/image/3989/b91001876714.jpg?cross"
                    crossorigin="anonymous"
                    alt="Banner"
                    width="280"
                    height="330" />
                </div>
                <div id="nombres" class="nombres">
                  <span class="ticket_status">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> Pago Verificado
                  </span>

                  <span>
                    <i class="fa fa-user-circle" aria-hidden="true"></i> Beiker j
                    si...
                  </span>
                  <span>
                    <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>+1
                    3478****6
                  </span>
                  <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i> 2025-06-09
                    14:16:07
                  </span>
                </div>
                <div class="deetz --flex-row-j!sb">
                  <div class="ticket-date event --flex-column">
                    <div class="date -bold">13 JUN 2025</div>
                  </div>
                  <div class="ticket-date --flex-column">
                    <div class="cost -bold">10:00 PM</div>
                  </div>
                </div>
              </div>
              <div class="rip"></div>
              <div class="bottom --flex-row-j!sb">
                <strong style="font-size:22px"><b>1000</b></strong>
              </div>
            </widget>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalVerificar" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verificación de Boleto</h5>
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalVerificarBody">
        <div id="verificarData"></div>
      </div>
    </div>
  </div>
</div>

<script>
  async function searchBuyer() {
    const telefono = document.querySelector("#telefonoInput").value;
    const country_code = document.querySelector(
      ".verificar-box #country_code"
    ).value;
    const formData = new FormData();
    formData.append("celular", telefono);
    formData.append("country_code", country_code);
    formData.append("evento_id", "{{evento.id}}");
    const response = await fetch("/verificar/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: formData,
    });
    const data = await response.json();
    let html = "";
    if (data.result.length == 0) {
      html = `<h5 class="mx-auto mb-3">No se han encontrado boletos asociados</h5>`;
    }
    let cont = 0;
    for (let comprobante of data.result) {
      cont++;
      html += `
      <h5 class="mx-auto mb-3 text-center">Comprobante ${cont}</h5>
      <div class="row">
          <div class="col-lg-6 text-center"><b>Nombre</b><br />${
            comprobante.nombre
          }</div>
          <div class="col-lg-6 text-center"><b>Fecha</b><br />${
            comprobante.fecha
          }</div>
          <div class="col-lg-6 text-center">
            <b>Estatus</b> <br />${comprobante.status}
          </div>
          <div class="col-lg-6 text-center">
            <b>Boletos</b> <br />${comprobante.boletos.join(", ")}
          </div>
        </div>`;
    }
    document.querySelector("#modalVerificarBody").innerHTML = html;
  }
  document.addEventListener("DOMContentLoaded", function () {
    const cod = "{{request.GET.cod}}";
    if (cod == "") return;
    const cod_elem = document.querySelector(`#verificador [value='+${cod}']`);
    if (!cod_elem) return;
    cod_elem.selected = true;
    document.getElementById("verificar-btn").click();
  });
  document.addEventListener("DOMContentLoaded", function () {
    let phone = "{{request.GET.phone}}";
    if (phone.startsWith(" ")) {
      phone = phone.replace(" ", "+");
    }
    const codes_list = document.querySelectorAll("#verificador option");
    for (const element of codes_list) {
      const code = element.value;
      if (phone.startsWith(code)) {
        element.selected = true;
        const clean_phone = phone.replace(code, "");
        document.querySelector("#telefonoInput").value = clean_phone;
        document.getElementById("verificar-btn").click();
        break;
      }
    }
  });
</script>
