{% extends 'admin/base.html' %} {% block title %}
  Cliente
{% endblock %}
{% block subtitle %}
  Cliente
{% endblock %}
{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <button class="btn-add" onclick="location.href='/admin/cliente/crear'">
          <i class="fas fa-plus"></i> Nueva Cliente
        </button>
        <div class="paginated_collection">
          <div class="paginated_collection_contents">
            <div class="index_content">
              <div class="index_as_table">
                <table border="0"
                  cellspacing="0"
                  cellpadding="0"
                  id="index_table_clients"
                  class="index_table index"
                  paginator="true">
                  <thead>
                    <tr>
                      <th class="sortable col col-logo">
                        <a href="/admin/clients?order=logo_desc">Logo</a>
                      </th>
                      <th class="sortable col col-name">
                        <a href="/admin/clients?order=name_desc">Nombre</a>
                      </th>
                      <th class="sortable col col-location">
                        <a href="/admin/clients?order=location_desc">
                          Ubicación
                        </a>
                      </th>
                      <th class="col col-actions"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd" id="client_2330">
                      {% for cliente in clientes %}
                        <td class="col col-logo">
                          <img class="avatar_image"
                            src="{{ cliente.logo.url }}" />
                        </td>
                        <td class="col col-name">{{ cliente.nombre }}</td>
                        <td class="col col-location">{{ cliente.ubicacion }}</td>
                        <td class="col col-actions">
                          <div class="table_actions">
                            <a class="edit_link member_link"
                              title="Editar"
                              href="/admin/cliente/{{ cliente.pk }}/">
                              Editar
                            </a>
                          </div>
                        </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="index_footer">
            <div class="pagination_information">
              Mostrando <b>{{ clientes|length }}</b> Cliente
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
