{% extends 'admin/base.html' %} {% block title %}
  Cliente
{% endblock %}
{% block subtitle %}
  Cliente
{% endblock %}
{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="paginated_collection">
          <div class="paginated_collection_contents">
            <div class="index_content">
              <div class="index_as_table">
                <table border="0"
                  cellspacing="0"
                  cellpadding="0"
                  id="index_table_clients"
                  class="index_table index"
                  paginator="true">
                  <thead>
                    <tr>
                      <th class="sortable col col-logo">
                        <a href="/admin/clients?order=logo_desc">Logo</a>
                      </th>
                      <th class="sortable col col-name">
                        <a href="/admin/clients?order=name_desc">Nombre</a>
                      </th>
                      <th class="sortable col col-location">
                        <a href="/admin/clients?order=location_desc">
                          Ubicación
                        </a>
                      </th>
                      <th class="col col-actions"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd" id="client_2330">
                      <td class="col col-logo">
                        <img class="avatar_image"
                          src="https://rifarito.s3.amazonaws.com/uploads/client/logo/2330/logoMG-20241216-WA0049.png?X-Amz-Expires=86400&amp;X-Amz-Date=20250529T010153Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250529%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=7eacda946fff166673f550f170989921ea84def672c2a9208a856e95aa623b2a" />
                      </td>
                      <td class="col col-name">CHIPIBIKELIFE</td>
                      <td class="col col-location">Caracas</td>
                      <td class="col col-actions">
                        <div class="table_actions">
                          <a class="edit_link member_link"
                            title="Editar"
                            href="/admin/clients/2330/edit">
                            Editar
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="index_footer">
            <div class="pagination_information">
              Mostrando <b>1</b> Cliente
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
