{% extends 'admin/base.html' %} {% block title %}
  Compras
{% endblock %}
{% block subtitle %}
  Compras
{% endblock %}
{% block content %}
  <div id="active_admin_content" class="with_sidebar">
    {% csrf_token %}
    <div id="main_content_wrapper">
      <div id="main_content">
        <button class="btn-add" onclick="location.href='/admin/compras/crear'">
          <i class="fas fa-plus"></i> Nueva Compra
        </button>
        <div class="table_tools">
          <div class="scopes">
            <ul class="table_tools_segmented_control scope-default-group">
              <li class="scope all">
                <a href="?evento_id=todos" class="table_tools_button">Todos</a>
              </li>
              <li class="scope rifas_activas">
                <a href="?" class="table_tools_button">Rifas Activas</a>
              </li>
              <li class="scope rifas_inactivas">
                <a href="?evento_id=inactivas" class="table_tools_button">
                  Rifas Inactivas
                </a>
              </li>
            </ul>
            <script>
              (function () {
                const eventoId = "{{ request.GET.evento_id }}";
                if (!eventoId) {
                  document
                    .querySelector(".scope.rifas_activas")
                    .classList.add("selected");
                }
                if (eventoId == "todos") {
                  document
                    .querySelector(".scope.all")
                    .classList.add("selected");
                } else if (eventoId == "inactivas") {
                  document
                    .querySelector(".scope.rifas_inactivas")
                    .classList.add("selected");
                }
              })();
            </script>
          </div>
        </div>
        <div class="paginated_collection">
          <div class="paginated_collection_contents">
            <div class="index_content">
              <div class="index_as_table">
                <div id="get_lower">
                  <div id="containerDivVoucher" class="modal">
                    <img id="img-voucher" src="/static/admin/ticket.png" />
                  </div>
                </div>
                <table border="0"
                  cellspacing="0"
                  cellpadding="0"
                  id="index_table_purchases"
                  class="index_table index"
                  paginator="true">
                  <thead>
                    <tr>
                      <th class="col col-buyer">Participante</th>
                      <th class="sortable col col-created_at">Fecha</th>
                      <th class="sortable col col-verify_date">Verificación</th>
                      <th class="col col-payment_type">Cuenta</th>
                      <th class="sortable col col-quantity">Cant.</th>
                      <th class="sortable col col-amount">Monto</th>
                      <th class="sortable col col-amount">Referencia</th>
                      <th data-sortable="false" class="col col-verify"></th>
                      <th data-sortable="false" class="col col-whatsapp"></th>
                      <th class="sortable col col-tickets">Números</th>
                      <th class="sortable col col-notes">Notas</th>
                      <th data-sortable="false" class="col col-actions"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for compra in compras %}
                      <tr class="odd" id="row-{{ compra.id }}">
                        <td class="col col-buyer">
                          {# href="/admin/participantes/detalle?nombre={{ compra.nombre|urlencode }}&telefono={{ compra.telefono|urlencode }} #}
                          <a href="#">
                            {{ compra.nombre|title }} {{ compra.telefono }}
                          </a>
                        </td>
                        <td class="col col-created_at">
                          {{ compra.fecha|date:'h:i A' }}
                          <br />
                          <!-- prettier-ignore -->
                          <small style="text-wrap: no-wrap;">{{ compra.fecha|date:'d F Y' }}</small>
                        </td>
                        <td class="col col-verify_date">
                          <span id="hora-v-{{ compra.id }}">
                            <!-- prettier-ignore -->
                            {{ compra.fecha_verificacion|date:'h:i A'|default:'Pendiente' }}
                          </span>
                          <br />
                          <small id="fecha-v-{{ compra.id }}"
                            style="text-wrap: no-wrap;">
                            <!-- prettier-ignore -->
                            {{ compra.fecha_verificacion|date:'d F Y' }}
                          </small>
                        </td>
                        <td class="col col-payment_type">
                          {{ compra.metodo__banco }} <br />
                        </td>
                        <td class="col col-quantity">{{ compra.cantidad }}</td>
                        <td class="col col-amount" style="white-space: nowrap;">
                          <a rel="modal:open"
                            onclick="loadImageModal('/media/{{ compra.foto }}')"
                            href="#containerDivVoucher">
                            <strong>${{ compra.monto }}</strong>
                          </a>
                          <span style="display: block;margin-top: 5px;">
                            {% if compra.metodo__moneda == 'Bs' %}
                              ({{ compra.monto_bs }}Bs)
                            {% endif %}
                          </span>
                        </td>
                        <td>{{ compra.referencia }}</td>
                        <td class="col col-verify">
                          <!-- prettier-ignore -->
                          <a onclick="verificarCompra('{{ compra.id }}')"
                            class="{{ compra.verificado|yesno:'verified,pending' }}"
                            id="verificar-{{ compra.id }}"
                            href="javascript:void(0)">
                            <i class="fas fa-check fa-lg"></i>
                          </a>
                        </td>
                        <td class="col col-whatsapp">
                          <div class="btn_container_links">
                            <div>
                              <!-- prettier-ignore -->
                              <a target="_blank"
                                title="Recordar Pago"
                                class="orange"
                                href="https://api.whatsapp.com/send?phone={{compra.telefono|urlencode}}&amp;text=Hola+{{ compra.nombre|urlencode }}+%2C+no+pierdas+tu+oportunidad+de+ganar+con+tus+n%C3%BAmeros+elegidos+en+{{ compra.evento__nombre|urlencode}}%2C+completa+el+pago+por+favor%2C+no+dejes+ir+tu+suerte.+https%3A%2F%2Fwww.chipibikelifee.com%2Frifa%2F{{ compra.evento__url|urlencode}}%3Fphone%3D{{compra.telefono|urlencode }}">
                                <i class="fab fa-whatsapp fa-2x"></i>
                              </a>
                            </div>
                            <div>
                              <!-- prettier-ignore -->
                              <a target="_blank"
                                title="Boleto Digital"
                                class="external_link"
                                href="/rifa/{{ compra.evento__url }}?phone={{compra.telefono|urlencode}}">
                                <i class="fas fa-ticket-alt fa-2x"></i>
                              </a>
                            </div>
                          </div>
                        </td>
                        <td class="col col-tickets">
                          <!-- prettier-ignore -->
                          {% for boleto in compra.boletos %}
                            {{ boleto|stringformat:"04d" }}
                            {% if not forloop.last %}
                              ,
                            {% endif %}
                            
                           {% endfor %}
                        </td>
                        <td class="col">{{ compra.notas }}</td>
                        <td class="col col-actions">
                          <div class="table_actions">
                            <a href="/admin/compras/{{ compra.id }}">
                              <i class="fas fa-pen"></i>
                            </a><a class="trash"
                              onclick="eliminarCompra('{{ compra.id }}')"
                              href="javascript:void(0)">
                              <i class="fas fa-trash"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% include 'components/paginacion.html' with filtros=filtros page_obj=page_obj %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar" id="sidebar">
      <div class="sidebar_section panel" id="filters_sidebar_section">
        <h3>Filtros</h3>
        <div class="panel_contents">
          <form class="filter_form"
            id="new_q"
            accept-charset="UTF-8"
            method="get">
            <div class="select input optional filter_form_field filter_select"
              id="q_raffle_id_eq_input">
              <label for="q_raffle_id_eq" class="label">Rifa</label><select name="evento_id"
                id="q_raffle_id_eq">
                <option value="todos">Cualquiera</option>
                {% for evento in eventos %}
                  {% if request.GET.evento_id == evento.id|stringformat:'s' %}
                    <option value="{{ evento.id }}" selected>{{ evento.nombre }}</option>
                  {% else %}
                  {% if not request.GET.evento_id and forloop.last %}
                    <option value="{{ evento.id }}" selected>{{ evento.nombre }}</option>
                    {% else %}
                    <option value="{{ evento.id }}">{{ evento.nombre }}</option>
                  {% endif %}
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="string input optional stringish filter_form_field filter_string"
              id="q_tickets_in_input">
              <label for="q_tickets_in" class="label">Ticket</label><input id="ticket"
                type="text"
                value="{{ request.GET.ticket }}"
                name="ticket" />
            </div>
            <div class="string input optional stringish filter_form_field filter_string"
              id="q_name_contains_input">
              <label for="q_name_contains" class="label">Participante</label><input id="q_name_contains"
                type="text"
                value="{{ request.GET.nombre }}"
                name="nombre" />
            </div>
            <div class="string input optional stringish filter_form_field filter_string"
              id="q_buyer_phone_contains_input">
              <label for="q_buyer_phone_contains" class="label">TELÉFONO</label><input id="q_buyer_phone_contains"
                type="text"
                value="{{ request.GET.telefono }}"
                name="telefono" />
            </div>
            <div class="string input optional stringish filter_form_field filter_string"
              id="q_buyer_phone_contains_input">
              <label class="label">Referencia</label><input type="text"
                value="{{ request.GET.referencia }}"
                name="referencia" />
            </div>
            <div class="date_range input optional stringish filter_form_field filter_date_range"
              id="q_created_at_input">
              <label class="label">Fecha</label>
              <div style="display: flex;">
                <input placeholder="Desde"
                  type="date"
                  value="{{ request.GET.fecha_desde }}"
                  name="fecha_desde"
                  id="q_created_at_gteq_datetime" />
                <input placeholder="Hasta"
                  type="date"
                  value="{{ request.GET.fecha_hasta }}"
                  name="fecha_hasta"
                  id="q_created_at_lteq_datetime" />
              </div>
            </div>
            <div class="select input optional filter_form_field filter_select"
              id="q_expireds_input">
              <label for="q_expireds" class="label">Creados hace más de:</label><select name="creados_hace_mas_de"
                id="q_expireds">
                <option value="">Cualquiera</option>
                <option value="2">2 horas</option>
                <option value="12">12 horas</option>
                <option value="24">24 horas (1 día)</option>
                <option value="48">48 horas (2 días)</option>
                <option value="72">72 horas (3 días)</option>
                <option value="96">96 horas (4 días)</option>
              </select>
              <script>
                (function () {
                  const element = document
                    .getElementById("q_expireds")
                    .querySelector(
                      "[value='{{request.GET.creados_hace_mas_de}}']"
                    );
                  if (element) {
                    element.selected = true;
                  }
                })();
              </script>
            </div>
            <div class="select input optional filter_form_field filter_select"
              id="q_status_input">
              <label for="q_status" class="label">Status</label><select name="status"
                id="q_status">
                <option value="" selected="selected">Cualquiera</option>
                {% for status_id, status in statuses %}
                  {% if status_id == request.GET.status %}
                    <option value="{{ status_id }}" selected>{{ status }}</option>
                  {% else %}
                    <option value="{{ status_id }}">{{ status }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="select input optional filter_form_field filter_select"
              id="q_payment_type_input">
              <label for="q_payment_type_id" class="label">Tipo de Pago</label><select name="metodo"
                id="q_payment_type_id">
                <option value="">Cualquiera</option>
                {% for metodo in metodos %}
                  {% if metodo.id|stringformat:'d' == request.GET.metodo %}
                    <option value="{{ metodo.id }}" selected>{{ metodo.banco }}</option>
                  {% else %}
                    <option value="{{ metodo.id }}">{{ metodo.banco }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="string input optional stringish filter_form_field filter_string">
              <label for="q_notes" class="label">Notas</label>
              <div style="display: flex;">
                <select name="tipo_nota" id="select-nota">
                  <option value="">-- Elegir --</option>

                  <option value="nota__icontains">Contiene</option>
                  <option value="nota">Igual a</option>
                  <option value="nota__istartswith">Empieza con</option>
                  <option value="nota__iendswith">Termina con</option>
                </select>
                <input type="text"
                  name="nota"
                  value="{{ request.GET.nota }}"
                  style="width: 150px;" />
              </div>

              <script>
                (function () {
                  const element = document
                    .getElementById("select-nota")
                    .querySelector("[value='{{request.GET.tipo_nota}}']");
                  if (element) {
                    element.selected = true;
                  }
                })();
              </script>
            </div>
            <div class="buttons">
              <input type="submit"
                name="commit"
                value="Filtrar"
                data-disable-with="Filtrar" />
              <a class="clear_filters_btn"
                href="javascript:void(0)"
                onclick="resetForm()">
                Quitar Filtros
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
    function resetForm() {
      document.querySelector("form.filter_form").reset();
      document.querySelector("form.filter_form").submit();
    }
    // const dataTable = new simpleDatatables.DataTable(".index_table");

    async function verificarCompra(id) {
      const element = document.getElementById("verificar-" + id);
      element.classList.replace("pending", "processing");
      const crsf_token = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
      const response = await fetch(`/admin/verificar/${id}`, {
        method: "POST",
        headers: {
          "X-CSRFToken": crsf_token,
        },
      });
      try {
        const result = await response.json();
        if (result.result == "ok") {
          element.classList.replace("processing", "verified");
          document.getElementById(`fecha-v-${id}`).innerText = result.fecha;
          document.getElementById(`hora-v-${id}`).innerText = result.hora;
        } else {
          alert("Ya ha sido verificado anteriormente");
        }
      } catch (error) {
        alert("Ha ocurrido un error");
      }
    }

    async function eliminarCompra(id) {
      const confirmed = confirm("¿Estas seguro de eliminar esta compra?");
      if (!confirmed) return;
      const crsf_token = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
      try {
        const response = await fetch(`/admin/compras/eliminar/${id}`, {
          method: "POST",
          headers: {
            "X-CSRFToken": crsf_token,
          },
        });

        if (response.ok) {
          alert("Se ha eliminado correctamente");
          document.getElementById(`row-${id}`).remove();
        } else {
          alert("Ha ocurrido un error");
        }
      } catch (error) {
        alert("Ha ocurrido un error");
      }
    }
  </script>
{% endblock %}
