{% extends 'admin/base.html' %}
{% block title %}
  {% if form.instance.pk %}
    Editar Compra
  {% else %}
    Nueva Compra
  {% endif %}
{% endblock %}
{% block subtitle %}
  {% if form.instance.pk %}
    Editar Compra
  {% else %}
    Nueva Compra
  {% endif %}
{% endblock %}
{% block head %}
  <style>
    .ticket-opcion {
      border: none;
      width: 50px;
      height: 50px;
      padding: 0 !important;
      background-image: none;
      background-color: #9f4851;
    }

    .ticket-opcion.seleccionado {
      background-color: #4a489f;
      background-image: none;
    }
    .ticket-opcion:disabled {
      background-color: #333333;
      background-image: none !important;
      cursor: not-allowed !important;
    }
    .ticket-opcion:disabled:hover {
      background-color: #333333;
      background-image: none !important;
      cursor: not-allowed !important;
    }
    .ticket-opcion:hover {
      background-color: #616163;
      background-image: none !important;
    }

    .ticket-opcion:hover {
      cursor: pointer;
    }

    #lista {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 20px;
      height: 500px;
      overflow: auto;
    }

    .has_many_container.raffle_tickets > fieldset.has_many_fields {
      background: #f7f9fb;
      width: 100px;
      height: auto;
      border-radius: 14px;
      margin: 2px 2px;
      display: inline-flex;
    }
    @media screen {
      form fieldset > ol > li fieldset.inputs ol {
        float: left;
        width: 100%;
        margin: 0;
      }
    }
    .has_many_container.raffle_tickets
      > fieldset.has_many_fields
      > ol
      > li.stringish
      > input {
      background: white;
      width: 76px;
      text-align: center;
      font-size: 14px !important;
      font-weight: 600;
      font-family: inherit;
    }
    .has_many_container.raffle_tickets
      > fieldset.has_many_fields
      > ol
      > li.has_many_delete
      > label {
      color: #273547;
      background: #ffffff;
      display: block;
      width: 66px;
      border: 2px solid #f8fcff;
      border-radius: 11px;
      padding: 0;
      position: absolute;
      left: 20px;
      bottom: 4px;
      line-height: 18px;
      text-align: center;
      cursor: pointer;
    }
    .has_many_container.raffle_tickets
      > fieldset.has_many_fields
      > ol
      > li.has_many_delete
      > label
      > input {
      width: 22px;
      height: 18px;
      margin-top: 0px;
      margin-left: -24px;
      position: absolute;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <form enctype="multipart/form-data"
          class="formtastic raffle"
          id="edit_raffle"
          method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="error-messages">
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <p>{{ field }}{{ error }}</p>
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
          <input type="hidden" name="evento" value="{{ evento.pk }}" />
          {% if form.instance.pk %}
            <input type="hidden"
              name="dolar"
              value="{{ form.instance.dolar }}" />
          {% else %}
            <input type="hidden" name="dolar" value="{{ dolar }}" />
          {% endif %}
          <fieldset class="inputs">
            <legend>
              <span>{{ evento.nombre }}</span>
            </legend>

            <ol>
              <li class="string input required stringish">
                <label class="label">Nombre</label>
                <input type="text"
                  value="{{ form.nombre.value|default_if_none:'' }}"
                  name="nombre" />
              </li>
              <li class="string input required stringish">
                <label class="label">Teléfono</label>
                <input type="number"
                  value="{{ form.telefono.value|default_if_none:'' }}"
                  name="telefono" />
              </li>

              <li class="select input required">
                <label class="label">
                  Método de Pago<abbr title="requerido">*</abbr>
                </label>
                <select name="metodo">
                  <option value="">-- Seleccionar --</option>
                  {% for metodo in metodos %}
                    {% if metodo.id == form.metodo.value %}
                      <option value="{{ metodo.id }}" selected>
                        <!-- prettier-ignore -->
                        {{  metodo.banco|title}}
                      </option>
                    {% else %}
                      <option value="{{ metodo.id }}">
                        <!-- prettier-ignore -->
                        {{ metodo.banco|title }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </li>

              <li class="has_many_container raffle_tickets elegible-tickets"
                data-sortable-start="0">
                <h3>Tickets</h3>
                <div style="margin-bottom: 10px;">
                  <a class="button has_many_add" href="#" onclick="addTicket()">
                    Añadir Número
                  </a>
                </div>
                {% for n in seleccionados %}
                  <fieldset class="inputs has_many_fields">
                    <ol>
                      <li class="string input required stringish"
                        id="purchase_raffle_tickets_attributes_0_ticket_number_input">
                        <label class="label">
                          <abbr title="requerido">*</abbr>
                        </label>
                        <input pattern="[0-9]*"
                          oninput="onInputTicket(this)"
                          type="text"
                          name="tickets"
                          required
                          value="{{ n }}" />
                      </li>
                      <li class="has_many_delete boolean input optional">
                        <label>
                          <input type="checkbox"
                            name="eliminados"
                            value="{{ n }}" />Eliminar
                        </label>
                      </li>
                    </ol>
                  </fieldset>
                {% endfor %}
              </li>
              <script>
                /** @param {HTMLInputElement} ticket */
                function onInputTicket(ticket) {
                  ticket.value = ticket.value.replace(/[^0-9]/g, "");
                  ticket.parentElement.nextElementSibling.querySelector(
                    'input[name="eliminados"]'
                  ).value = ticket.value;
                }
                function addTicket() {
                  const html = document.createElement("fieldset");
                  html.classList.add("inputs", "has_many_fields");
                  html.innerHTML = `
                      <ol>
                        <li class="string input required stringish">
                          <label class="label"><abbr title="requerido">*</abbr></label>
                          <input pattern="[0-9]*"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                            type="text"
                            required
                            name="tickets" />
                        </li>
                        <li>
                          <a class="button has_many_remove" href="#">Quitar</a>
                        </li>
                      </ol>
                    `;
                  document.querySelector(".elegible-tickets").appendChild(html);
                }
              </script>
              <div class="columns">
                <div class="column" style="width: 100%;">
                  <fieldset class="inputs">
                    <legend>
                      <span>DISPONIBLES ONLINE</span>
                    </legend>

                    <input type="text"
                      placeholder="Buscar..."
                      style="width: 200px;"
                      id="buscador" />
                    <button id="btnBuscar" type="button">Buscar</button>
                    <input type="hidden"
                      name="boletos"
                      id="boletosName"
                      value="" />
                    <div id="lista"
                      class="input-field col s12 containtickets"></div>
                  </fieldset>
                </div>
                <div style="clear:both;"></div>
              </div>
              <li class="text input optional">
                <label class="label">Notas</label><textarea rows="20"
                  name="nota"></textarea>
              </li>
              <li class="select input required">
                <label class="label">
                  Estatus <abbr title="requerido">*</abbr>
                </label>
                <select name="status" value="{{ form.status.value }}">
                  <option value="">--Seleccionar--</option>
                  {% for status_id, status in status_choices %}
                    {% if status_id == form.status.value %}
                      <option value="{{ status_id }}" selected>{{ status }}</option>
                    {% else %}
                      <option value="{{ status_id }}">{{ status }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </li>

              <li class="number input optional numeric stringish">
                <label class="label">Monto</label><input step="any"
                  type="number"
                  value="{{ form.monto.value|default_if_none:0 }}"
                  name="monto" />
              </li>

              <li class="string input optional stringish">
                <label class="label">Referencia</label>
                <input type="text"
                  value="{{ form.referencia.value|default_if_none:'' }}"
                  name="referencia" />
              </li>

              <li class="file input optional">
                <label class="label">Comprobante</label><input type="file"
                  name="foto"
                  onclick="fileChange(this, 'preview-foto')" />

                <p class="inline-hints">
                  <img src="{{ form.foto.value.url|default_if_none:'' }}"
                    id="preview-foto" />
                </p>
              </li>
            </ol>
          </fieldset>
          <fieldset class="actions">
            <ol>
              <li class="action input_action" id="raffle_submit_action">
                <input type="submit"
                  name="commit"
                  value="Guardar Compra"
                  data-disable-with="Guardar Compra" />
              </li>
              <li class="cancel">
                <a href="/admin/clientes">Cancelar</a>
              </li>
            </ol>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
    let tickets_seleccionados = '{{ seleccionados|join:"," }}'.split(",");

    function fileChange(input, id) {
      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
          document.getElementById(id).setAttribute("src", e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
        document.getElementById("file-label").hidden = true;
        document.getElementById("file-btn").hidden = true;
      }
    }

    function seleccionarTicket(btn) {
      let ticket = btn.dataset.ticket;
      if (tickets_seleccionados.includes(ticket)) {
        btn.classList.remove("seleccionado");
        tickets_seleccionados = tickets_seleccionados.filter(
          (item) => item !== ticket
        );
      } else {
        btn.classList.add("seleccionado");
        tickets_seleccionados.push(ticket);
      }
      document.querySelector("#boletosName").value =
        tickets_seleccionados.join(",");
    }
  </script>
  <script type="module">
    import morphdom from "https://cdn.jsdelivr.net/npm/morphdom@2.7.5/+esm";
    import VirtualizedList from "https://cdn.jsdelivr.net/npm/virtualized-list@2.2.0/+esm";
    const list = document.querySelector("#lista");
    const total = parseInt("{{ evento.total_tickets }}");
    const rows = "{{ disponibles|join:',' }}".split(",");
    const container = document.querySelector("#lista");

    let virtual_list = new VirtualizedList(container, {
      height: 5000, // The height of the container
      rowCount: rows.length,
      renderRow: (index) => {
        const element = document.createElement("button");
        element.classList.add("ticket-opcion");
        element.innerHTML = rows[index];
        element.type = "button";
        return element;
      },
      rowHeight: 10,
    });

    function buscarTicket() {
      const input = document.getElementById("buscador");
      const new_rows = rows.filter((row) => {
        return row.toLowerCase().includes(input.value.toLowerCase());
      });
      virtual_list.destroy();
      virtual_list = new VirtualizedList(container, {
        height: 5000, // The height of the container
        rowCount: new_rows.length,
        renderRow: (index) => {
          const element = document.createElement("button");
          element.classList.add("ticket-opcion");
          element.innerHTML = new_rows[index];
          element.type = "button";
          return element;
        },
        rowHeight: 10,
      });

      console.log("hola");
    }
    document
      .querySelector("#btnBuscar")
      .addEventListener("click", buscarTicket);
  </script>
{% endblock %}
