{% extends 'admin/base.html' %}
{% block title %}
  {% if form.instance.pk %}
    Editar Compra
  {% else %}
    Nueva Compra
  {% endif %}
{% endblock %}
{% block subtitle %}
  {% if form.instance.pk %}
    Editar Compra
  {% else %}
    Nueva Compra
  {% endif %}
{% endblock %}
{% block head %}
  <style>
    .ticket-opcion {
      border: none;
      width: 50px;
      height: 50px;
      padding: 0 !important;
      background-image: linear-gradient(180deg, #9f4851, #414549);
    }

    .ticket-opcion.seleccionado {
      background-image: linear-gradient(180deg, #4a489f, #414549);
    }

    .ticket-opcion:hover {
      cursor: pointer;
    }

    #lista {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 20px;
      height: 500px;
      overflow: auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <form enctype="multipart/form-data"
          class="formtastic raffle"
          id="edit_raffle"
          method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="error-messages">
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <p>{{ field }}{{ error }}</p>
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
          <input type="hidden" name="evento" value="{{ evento.pk }}" />
          {% if form.instance.pk %}
            <input type="hidden"
              name="dolar"
              value="{{ form.instance.dolar.pk }}" />
          {% else %}
            <input type="hidden" name="dolar" value="{{ dolar.pk }}" />
          {% endif %}
          <fieldset class="inputs">
            <legend>
              <span>{{ evento.nombre }}</span>
            </legend>

            <ol>
              <li class="string input required stringish">
                <label class="label">Nombre</label>
                <input type="text"
                  value="{{ form.nombre.value|default_if_none:'' }}"
                  name="nombre" />
              </li>
              <li class="string input required stringish">
                <label class="label">Teléfono</label>
                <input type="text"
                  value="{{ form.telefono.value|default_if_none:'' }}"
                  name="telefono" />
              </li>

              <li class="select input required">
                <label class="label">
                  Método de Pago<abbr title="requerido">*</abbr>
                </label>
                <select name="metodo">
                  <option value="">-- Seleccionar --</option>
                  {% for metodo in metodos %}
                    {% if metodo.id == form.metodo.value %}
                      <option value="{{ metodo.id }}" selected>
                        <!-- prettier-ignore -->
                        {{  metodo.banco|title}}
                      </option>
                    {% else %}
                      <option value="{{ metodo.id }}">
                        <!-- prettier-ignore -->
                        {{ metodo.banco|title }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </li>
              <div class="columns">
                <div class="column" style="width: 100.0%;">
                  <fieldset class="inputs">
                    <legend>
                      <span>DISPONIBLES ONLINE</span>
                    </legend>

                    <input type="text"
                      placeholder="Buscar..."
                      style="width: 200px;"
                      id="buscador" />
                    <button onclick="buscarTicket(this)" type="button">
                      Buscar
                    </button>
                    <input type="hidden"
                      name="boletos"
                      id="boletosName"
                      value="" />
                    <div id="lista" class="input-field col s12 containtickets">
                      {% for numero in tickets %}
                        {% if numero in agarrados %}
                          <button type="button"
                            class="ticket-opcion"
                            disabled
                            data-ticket="{{ numero }}"
                            data-disabled="true">
                            {{ numero }}
                          </button>
                        {% elif numero|stringformat:'s' in seleccionados %} 
                          <button type="button"
                            class="ticket-opcion seleccionado"
                            onclick="seleccionarTicket(this)"
                            data-ticket="{{ numero }}">
                            {{ numero }}
                          </button>
                        {% else %}
                          <button type="button"
                            class="ticket-opcion"
                            onclick="seleccionarTicket(this)"
                            data-ticket="{{ numero }}">
                            {{ numero }}
                          </button>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </fieldset>
                </div>
                <div style="clear:both;"></div>
              </div>
              <li class="text input optional">
                <label class="label">Notas</label><textarea rows="20"
                  name="nota"></textarea>
              </li>
              <li class="select input required">
                <label class="label">
                  Estatus <abbr title="requerido">*</abbr>
                </label>
                <select name="status" value="{{ form.status.value }}">
                  <option value="">--Seleccionar--</option>
                  {% for status_id, status in status_choices %}
                    {% if status_id == form.status.value %}
                      <option value="{{ status_id }}" selected>{{ status }}</option>
                    {% else %}
                      <option value="{{ status_id }}">{{ status }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </li>

              <li class="number input optional numeric stringish">
                <label class="label">Monto</label><input step="any"
                  type="number"
                  value="{{ form.monto.value|default_if_none:0 }}"
                  name="monto" />
              </li>

              <li class="string input optional stringish">
                <label class="label">Referencia</label>
                <input type="text"
                  value="{{ form.referencia.value|default_if_none:'' }}"
                  name="referencia" />
              </li>

              <li class="file input optional">
                <label class="label">Comprobante</label><input type="file"
                  name="foto"
                  onclick="fileChange(this, 'preview-foto')" />

                <p class="inline-hints">
                  <img src="{{ form.foto.value.url|default_if_none:'' }}"
                    id="preview-foto" />
                </p>
              </li>
            </ol>
          </fieldset>
          <fieldset class="actions">
            <ol>
              <li class="action input_action" id="raffle_submit_action">
                <input type="submit"
                  name="commit"
                  value="Guardar Compra"
                  data-disable-with="Guardar Compra" />
              </li>
              <li class="cancel">
                <a href="/admin/clientes">Cancelar</a>
              </li>
            </ol>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
    let tickets_seleccionados = [];

    function fileChange(input, id) {
      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
          document.getElementById(id).setAttribute("src", e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
        document.getElementById("file-label").hidden = true;
        document.getElementById("file-btn").hidden = true;
      }
    }

    function buscarTicket() {
      const input = document.getElementById("buscador");
      document.querySelectorAll(".ticket-opcion").forEach((element) => {
        if (
          element.innerText.toLowerCase().includes(input.value.toLowerCase())
        ) {
          element.hidden = false;
        } else {
          element.hidden = true;
        }
      });
    }

    function seleccionarTicket(btn) {
      let ticket = btn.dataset.ticket;
      if (tickets_seleccionados.includes(ticket)) {
        btn.classList.remove("seleccionado");
        tickets_seleccionados = tickets_seleccionados.filter(
          (item) => item !== ticket
        );
      } else {
        btn.classList.add("seleccionado");
        tickets_seleccionados.push(ticket);
      }
      document.querySelector("#boletosName").value =
        tickets_seleccionados.join(",");
    }
  </script>
{% endblock %}
