{% extends 'admin/base.html' %} {% block title %}
  Dashboard
{% endblock %}
{% block subtitle %}
  Dashboard
{% endblock %}

{% block head %}
  <style>
    .rifa-select {
      padding: 12px 20px 15px;
      text-align: center;
      height: 52px;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      background: #1d3149;
      border-radius: 20px;
    }
  </style>
{% endblock %}

{% block content %}
  <input type="hidden" value="{{ evento_actual.pk }}" id="evento_id" />
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="blank_slate_container" id="dashboard_default_message">
          <form method="get" action="" id="rifa-form">
            <select onchange="refrescarRifa();" class="rifa-select" name="rifa">
              <option value="">Elegir Rifa</option>
              {% for evento in eventos %}
                {% if evento.id == evento_actual.id %}
                  <option value="{{ evento.id }}" selected>
                    <!-- prettier-ignore -->
                    {{ evento.nombre|title }} -
                    {{ evento.fecha_fin|date:'F Y' }}
                  </option>
                {% else %}
                  <option value="{{ evento.id }}">
                    <!-- prettier-ignore -->
                    {{ evento.nombre|title }} -
                    {{ evento.fecha_fin|date:'F Y' }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </form>
          <script>
            function refrescarRifa() {
              document.getElementById("rifa-form").submit();
            }
          </script>

          <div class="columns">
            Ticket: ${{ evento_actual.precio_unidad }} Dólares<div style="clear:both;"></div>
          </div>
        </div>
        <div class="columns" id="cardsDashboard">
          <div class="column" style="width: 23.5%; margin-right: 2%;">
            <div class="panel">
              <h3>Total Participantes</h3>
              <div class="panel_contents">
                <h1>{{ total_participantes }} personas</h1>
                <span>
                  <!-- prettier-ignore -->
                  {{ evento_actual.fecha_inicio|date:'d-m-Y' }} -
                  {{ evento_actual.fecha_fin|date:'d-m-Y' }}
                </span>
              </div>
            </div>
          </div>
          <div class="column" style="width: 23.5%; margin-right: 2%;">
            <div class="panel">
              <h3>Total Tickets Registrados</h3>
              <div class="panel_contents">
                <h1>{{ total_numeros }} tickets</h1>
                <span>
                  Disponibles: {{ total_disponibles }}/{{ evento_actual.total_tickets }}
                </span>
              </div>
            </div>
          </div>
          <div class="column" style="width: 23.5%; margin-right: 2%;">
            <div class="panel">
              <h3>Total por Confirmar</h3>
              <div class="panel_contents">
                <h1>${{ por_cofirmar.monto|default_if_none:0 }}</h1>
                <!-- prettier-ignore -->
                <span>Total {{ por_cofirmar.cantidad }} compras
                   con {{ por_cofirmar.tickets|default_if_none:'0' }} tickets.</span>
              </div>
            </div>
          </div>
          <div class="column" style="width: 23.5%;">
            <div class="panel">
              <h3>Total Confirmado</h3>
              <div class="panel_contents">
                <h1>${{ verificados.monto|default_if_none:0 }}</h1>
                <!-- prettier-ignore -->
                <span>Total {{ verificados.cantidad }} compras
                   con {{ verificados.tickets|default_if_none:'0' }} tickets.</span>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns" id="progressDashboard">
          <div class="column" style="width: 100.0%;">
            <div class="panel">
              <h3>Progreso de Venta {{ progreso }}%</h3>
              <div class="panel_contents">
                <div id="progreso_chart">
                  <canvas style="display: block; box-sizing: border-box; height: 50px; width: 1348px;"
                    width="1348"
                    height="50"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 100.0%;">
            <div class="panel">
              <h3>Tickets Registrados</h3>
              <div class="panel_contents">
                <div id="tickets_fecha_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 1348px;"
                    width="1348"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 100.0%;">
            <div class="panel">
              <h3>Participantes y Compras</h3>
              <div class="panel_contents">
                <div id="participantes_compras_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 1348px;"
                    width="1348"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>PAGOS POR CONFIRMAR</h3>
              <div class="panel_contents">
                <div id="pagos_por_confirmar_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="width: 49.0%;">
            <div class="panel">
              <h3>PAGOS CONFIRMADOS</h3>
              <div class="panel_contents">
                <div id="pagos_aprobados_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>Medios de Pago</h3>
              <div class="panel_contents">
                <div id="ticket_metodos_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="width: 49.0%;">
            <div class="panel">
              <h3>Status de las Compras</h3>
              <div class="panel_contents">
                <div id="chart-6"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>Participantes con más tickets</h3>
              <div class="panel_contents">
                <div id="top_participantes_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="width: 49.0%;">
            <div class="panel">
              <h3>Días con más ventas</h3>
              <div class="panel_contents">
                <div id="dias_ventas_chart"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>Números de Tickets frecuentes</h3>
              <div class="panel_contents">
                <div id="tickets_frec_chart"
                  style="height: 396px; width: 100%; text-align: center; color: #999; line-height: 396px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 396px; width: 644px;"
                    width="644"
                    height="396"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="/static/admin/dashboard.js"></script>
  <script>
    function progresoChart() {
      const numeros = parseInt("{{ total_numeros }}");
      const max = parseInt("{{evento_actual.total_tickets}}");

      new Chartkick["BarChart"](
        "progreso_chart",
        [["{{ progreso }}%", numeros]],
        {
          colors: ["#4f1616", "#5ea3d3"],
          max: max,
        }
      );
    }

    function metodosStatusChart() {
      new Chartkick["PieChart"](
        "chart-6",
        [
          ["Sin Voucher", 0],
          ["Sin Verificación", "{{por_cofirmar.cantidad}}"],
          ["Verificados", "{{verificados.cantidad}}"],
        ],
        { colors: ["#5ea3d3", "#343c46", "#aeb6c2", "#e6e9ee"] }
      );
    }

    function renderLocalCharts() {
      progresoChart();
      metodosStatusChart();
    }
    if ("Chartkick" in window) {
      renderLocalCharts();
    } else {
      window.addEventListener("chartkick:load", renderLocalCharts, true);
    }
  </script>
{% endblock %}
