{% extends 'admin/base.html' %} {% block title %}
  Dashboard
{% endblock %}
{% block subtitle %}
  Dashboard
{% endblock %}

{% block head %}
  <style>
    .rifa-select {
      padding: 12px 20px 15px;
      text-align: center;
      height: 52px;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      background: #4b0505;
      border-radius: 20px;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="blank_slate_container" id="dashboard_default_message">
          <form method="get" action="" id="rifa-form">
            <select onchange="refrescarRifa();" class="rifa-select" name="rifa">
              {% for evento in eventos %}
                {% if evento.id == evento_actual.id %}
                  <option value="{{ evento.id }}" selected>
                    <!-- prettier-ignore -->
                    {{ evento.nombre|title }} -
                    {{ evento.fecha_fin|date:'F Y' }}
                  </option>
                {% else %}
                  <option value="{{ evento.id }}">
                    <!-- prettier-ignore -->
                    {{ evento.nombre|title }} -
                    {{ evento.fecha_fin|date:'F Y' }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </form>
          <script>
            function refrescarRifa() {
              document.getElementById("rifa-form").submit();
            }
          </script>

          <div class="columns">
            Ticket: ${{ evento_actual.precio_unidad }} Dólares<div style="clear:both;"></div>
          </div>
        </div>
        <div class="columns" id="cardsDashboard">
          <div class="column" style="width: 23.5%; margin-right: 2%;">
            <div class="panel">
              <h3>Total Participantes</h3>
              <div class="panel_contents">
                <h1>{{ total_participantes }} personas</h1>
                <span>
                  <!-- prettier-ignore -->
                  {{ evento_actual.fecha_inicio|date:'d-m-Y' }} -
                  {{ evento_actual.fecha_fin|date:'d-m-Y' }}
                </span>
              </div>
            </div>
          </div>
          <div class="column" style="width: 23.5%; margin-right: 2%;">
            <div class="panel">
              <h3>Total Tickets Registrados</h3>
              <div class="panel_contents">
                <h1>{{ total_numeros }} tickets</h1>
                <span>
                  Disponibles: {{ total_disponibles }}/{{ evento_actual.total_tickets }}
                </span>
              </div>
            </div>
          </div>
          <div class="column" style="width: 23.5%; margin-right: 2%;">
            <div class="panel">
              <h3>Total por Confirmar</h3>
              <div class="panel_contents">
                <h1>${{ por_cofirmar.monto|default_if_none:0 }}</h1>
                <!-- prettier-ignore -->
                <span>Total {{ por_cofirmar.cantidad }} compras
                   con {{ por_cofirmar.tickets }} tickets.</span>
              </div>
            </div>
          </div>
          <div class="column" style="width: 23.5%;">
            <div class="panel">
              <h3>Total Confirmado</h3>
              <div class="panel_contents">
                <h1>${{ verificados.monto|default_if_none:0 }}</h1>
                <!-- prettier-ignore -->
                <span>Total {{ verificados.cantidad }} compras
                   con {{ verificados.tickets }} tickets.</span>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns" id="progressDashboard">
          <div class="column" style="width: 100.0%;">
            <div class="panel">
              <h3>Progreso de Venta {{ progreso }}%</h3>
              <div class="panel_contents">
                <div id="chart-1">
                  <canvas style="display: block; box-sizing: border-box; height: 50px; width: 1348px;"
                    width="1348"
                    height="50"></canvas>
                </div>
                <script>
                  (function () {
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      const numeros = parseInt("{{ total_numeros }}");
                      const max = parseInt("{{evento_actual.total_tickets}}");

                      new Chartkick["BarChart"](
                        "chart-1",
                        [["{{ progreso }}%", numeros]],
                        {
                          colors: ["#4f1616", "#5ea3d3"],
                          max: max,
                        }
                      );
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 100.0%;">
            <div class="panel">
              <h3>Tickets Registrados</h3>
              <div class="panel_contents">
                <div id="graphic"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 1348px;"
                    width="1348"
                    height="300"></canvas>
                </div>
                <script>
                  const tickets_fecha = "{{ tickets_fecha }}".split(",");
                  const TICKETS_FECHA = tickets_fecha.map((i) => i.split(";"));
                  const tickets_chart = TICKETS_FECHA.map((i) => [i[0], i[1]]);
                  const compras_chart = TICKETS_FECHA.map((i) => [i[0], i[3]]);
                  const buyers_chart = TICKETS_FECHA.map((i) => [i[0], i[3]]);
                  (function () {
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["AreaChart"]("graphic", tickets_chart, {
                        colors: ["#4f1616", "#5ea3d3"],
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 100.0%;">
            <div class="panel">
              <h3>Participantes y Compras</h3>
              <div class="panel_contents">
                <div id="chart-2"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 1348px;"
                    width="1348"
                    height="300"></canvas>
                </div>
                <script>
                  const tickets_metodo = "{{ tickets_metodo }}".split(",");
                  const TICKETS_METODO = tickets_metodo.map((i) =>
                    i.split(";")
                  );
                  const m_m_chart = TICKETS_METODO.map((i) => [i[0], i[1]]);
                  (function () {
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["LineChart"](
                        "chart-2",
                        [
                          {
                            name: "Participantes",
                            data: buyers_chart,
                          },
                          {
                            name: "Compras",
                            data: compras_chart,
                          },
                        ],
                        { colors: ["#2C435D", "#5ea3d3"] }
                      );
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>PAGOS POR CONFIRMAR</h3>
              <div class="panel_contents">
                <div id="chart-3"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
                <script>
                  (function () {
                    const metodos_confirmar = "{{ metodos_confirmar }}".split(
                      ","
                    );
                    const METODOS_CONFIRMAR = metodos_confirmar.map((i) => {
                      const r = i.split(";");
                      r[0] += " " + r[1] + " $";
                      return r;
                    });
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["BarChart"]("chart-3", METODOS_CONFIRMAR, {
                        colors: ["#5ea3d3", "#343c46", "#aeb6c2", "#e6e9ee"],
                        prefix: "$",
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div class="column" style="width: 49.0%;">
            <div class="panel">
              <h3>PAGOS CONFIRMADOS</h3>
              <div class="panel_contents">
                <div id="chart-4"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
                <script>
                  (function () {
                    const metodos_aprobados = "{{ metodos_aprobados }}".split(
                      ","
                    );
                    const METODOS_APROBADOS = metodos_aprobados.map((i) => {
                      const r = i.split(";");
                      r[0] += " " + r[1] + " $";
                      return r;
                    });
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["BarChart"]("chart-4", METODOS_APROBADOS, {
                        colors: ["#5ea3d3", "#343c46", "#aeb6c2", "#e6e9ee"],
                        prefix: "$",
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>Medios de Pago</h3>
              <div class="panel_contents">
                <div id="chart-5"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
                <script>
                  (function () {
                    const tickets_metodo = "{{ tickets_metodo }}".split(",");
                    const TICKETS_METODO = tickets_metodo.map((i) =>
                      i.split(";")
                    );
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["PieChart"]("chart-5", TICKETS_METODO, {
                        colors: ["#5ea3d3", "#343c46", "#aeb6c2", "#e6e9ee"],
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div class="column" style="width: 49.0%;">
            <div class="panel">
              <h3>Status de las Compras</h3>
              <div class="panel_contents">
                <div id="chart-6"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
                <script>
                  (function () {
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["PieChart"](
                        "chart-6",
                        [
                          ["Sin Voucher", 0],
                          ["Sin Verificación", "{{por_cofirmar.cantidad}}"],
                          ["Verificados", "{{verificados.cantidad}}"],
                        ],
                        { colors: ["#5ea3d3", "#343c46", "#aeb6c2", "#e6e9ee"] }
                      );
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>Participantes con más tickets</h3>
              <div class="panel_contents">
                <div id="chart-7"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
                <script>
                  (function () {
                    const participantes = "{{ participantes }}".split(",");
                    const PARTICIPANTES = participantes.map((i) =>
                      i.split(";")
                    );
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["BarChart"]("chart-7", PARTICIPANTES, {
                        colors: ["#8995a7", "#5ea3d3"],
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div class="column" style="width: 49.0%;">
            <div class="panel">
              <h3>Días con más ventas</h3>
              <div class="panel_contents">
                <div id="chart-8"
                  style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 300px; width: 644px;"
                    width="644"
                    height="300"></canvas>
                </div>
                <script>
                  (function () {
                    const dias_ventas = "{{ dias_ventas }}".split(",");
                    const DIAS_VENTAS = dias_ventas.map((i) => i.split(";"));
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["ColumnChart"]("chart-8", DIAS_VENTAS, {
                        colors: ["#8995a7", "#5ea3d3"],
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="columns">
          <div class="column" style="width: 49.0%; margin-right: 2%;">
            <div class="panel">
              <h3>Números de Tickets frecuentes</h3>
              <div class="panel_contents">
                <div id="chart-9"
                  style="height: 396px; width: 100%; text-align: center; color: #999; line-height: 396px; font-size: 14px;">
                  <canvas style="display: block; box-sizing: border-box; height: 396px; width: 644px;"
                    width="644"
                    height="396"></canvas>
                </div>
                <script>
                  (function () {
                    const tickets_frecuentes = "{{ tickets_frecuentes }}".split(
                      ","
                    );
                    const TICKETS_FRECUENTES = tickets_frecuentes.map((i) =>
                      i.split(";")
                    );
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbolinks-preview"
                      )
                    )
                      return;
                    if (
                      document.documentElement.hasAttribute(
                        "data-turbo-preview"
                      )
                    )
                      return;

                    var createChart = function () {
                      new Chartkick["BarChart"]("chart-9", TICKETS_FRECUENTES, {
                        colors: ["#5ea3d3", "#343c46", "#aeb6c2", "#e6e9ee"],
                      });
                    };
                    if ("Chartkick" in window) {
                      createChart();
                    } else {
                      window.addEventListener(
                        "chartkick:load",
                        createChart,
                        true
                      );
                    }
                  })();
                </script>
              </div>
            </div>
          </div>

          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
