{% extends 'admin/base.html' %} {% block title %}
  Compras
{% endblock %}
{% block subtitle %}
  Compras
{% endblock %} {% block content %}
  <div id="active_admin_content" class="with_sidebar">
    <div id="main_content_wrapper">
        <div id="main_content">
          <div class="panel">
            <h3>COMBO AMOROSO</h3>
            <div class="panel_contents">
              <div class="purchase-details">
                <h3>Detalles de Compra </h3>
                <div class="attributes_table purchase" id="attributes_table_purchase_2319004">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr class="row row-buyer">
                      <th>Participante</th>
                      <td>Andry Altamira</td>
                    </tr>
                    <tr class="row row-seller">
                      <th>Vendedor</th>
                      <td>
                        <span class="empty">Vacío</span>
                      </td>
                    </tr>
                    <tr class="row row-fecha_de_registro">
                      <th>Fecha De Registro</th>
                      <td>02 Junio 2025</td>
                    </tr>
                  </tbody></table>
                </div>
                <h3>Números </h3>
                <div class="ticket-numbers">
                  <span class="ticket-number-badge">7467</span>
                  <span class="ticket-number-badge">1785</span>
                  <span class="ticket-number-badge">8175</span>
                  <span class="ticket-number-badge">8212</span>
                  <span class="ticket-number-badge">7695</span>
                  <span class="ticket-number-badge">8209</span>
                  <span class="ticket-number-badge">9385</span>
                  <span class="ticket-number-badge">4822</span>
                  <span class="ticket-number-badge">1105</span>
                  <span class="ticket-number-badge">8978</span>
                </div>
                <h3>Información de Pago</h3>
                <div class="attributes_table purchase" id="attributes_table_purchase_2319004">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr class="row row-payment_type">
                      <th>Cuenta</th>
                      <td>MarianIVR</td>
                    </tr>
                    <tr class="row row-cantidad">
                      <th>Cantidad</th>
                      <td>10</td>
                    </tr>
                    <tr class="row row-amount">
                      <th>Monto</th>
                      <td>$20.00</td>
                    </tr>
                    <tr class="row row-status">
                      <th>Status</th>
                      <td>
                        <span class="status_tag unverified warning">Unverified</span>
                      </td>
                    </tr>
                    <tr class="row row-fecha_voucher">
                      <th>Fecha Voucher</th>
                      <td>02 Junio 2025</td>
                    </tr>
                    <tr class="row row-notes">
                      <th>Notas</th>
                      <td>
                        <span class="empty">Vacío</span>
                      </td>
                    </tr>
                  </tbody></table>
                </div>
                <h3>Verificación</h3>
                <div class="attributes_table purchase" id="attributes_table_purchase_2319004">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr class="row row-verify_date">
                      <th>Verificación</th>
                      <td>
                        <span class="empty">Vacío</span>
                      </td>
                    </tr>
                    <tr class="row row-verifier_user">
                      <th>Verificado por</th>
                      <td>
                        <span class="empty">Vacío</span>
                      </td>
                    </tr>
                  </tbody></table>
                </div>
                <h3>Información Adicional</h3>
                <div class="attributes_table purchase" id="attributes_table_purchase_2319004">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr class="row row-creator_user">
                      <th>Creador</th>
                      <td>
                        <span class="empty">Vacío</span>
                      </td>
                    </tr>
                    <tr class="row row-mode">
                      <th>Modo</th>
                      <td>
                        <span class="status_tag online">Online</span>
                      </td>
                    </tr>
                    <tr class="row row-opportunities">
                      <th>Oportunidades</th>
                      <td>1</td>
                    </tr>
                    <tr class="row row-updated_at">
                      <th>Actualización</th>
                      <td>02 Junio 2025</td>
                    </tr>
                  </tbody></table>
                  <span class="purchse-id">Token: r0g1aSqgjpAA7EIO | IP: 38.51.123.213</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main_content">
        <div class="table_tools">
          <div class="scopes">
            <ul class="table_tools_segmented_control scope-default-group">
              <li class="scope all">
                
    </div>
  </div>
{% endblock %}
