{% extends 'admin/base.html' %}
{% block title %}
  Compras
{% endblock %}
{% block subtitle %}
  Compras
{% endblock %}
{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="paginated_collection">
          <div class="paginated_collection_contents">
            <div class="index_content">
              <div class="index_as_table">
                <table border="0"
                  cellspacing="0"
                  cellpadding="0"
                  id="index_table_payment_types"
                  class="index_table index"
                  paginator="true">
                  <thead>
                    <tr>
                      <th class="col col-bank_logo">Imagen</th>
                      <th class="col col-bank_name">Banco</th>
                      <th class="sortable col col-name">
                        <a href="/admin/payment_types?order=name_desc">Alias</a>
                      </th>
                      <th class="sortable col col-owner">
                        <a href="/admin/payment_types?order=owner_desc">
                          Titular
                        </a>
                      </th>
                      <th class="sortable col col-icon">
                        <a href="/admin/payment_types?order=icon_desc">Ícono</a>
                      </th>
                      <th class="sortable col col-type_account">
                        <a href="/admin/payment_types?order=type_account_desc">
                          Tipo
                        </a>
                      </th>
                      <th class="sortable col col-number">
                        <a href="/admin/payment_types?order=number_desc">
                          Contenido
                        </a>
                      </th>
                      <th class="sortable col col-interbank">
                        <a href="/admin/payment_types?order=interbank_desc">
                          Contenido
                        </a>
                      </th>
                      <th class="sortable col col-visible_public">
                        <a href="/admin/payment_types?order=visible_public_desc">
                          Visible
                        </a>
                      </th>
                      <th class="col col-currency">Moneda</th>
                      <th class="col col-actions"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd" id="payment_type_4958">
                      <td class="col col-bank_logo">
                        <img class="avatar_image"
                          src="https://rifarito.s3.amazonaws.com/uploads/bank/logo/541/es-bizum.png?X-Amz-Expires=86400&amp;X-Amz-Date=20250529T005436Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA43AWIPHKRJMFXTNZ%2F20250529%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=1f2631ec740ef29d08c8ddba919ffe06c6e14d22178c9ae39e46dd56f7b8687b" />
                      </td>
                      <td class="col col-bank_name">Bizum - España</td>
                      <td class="col col-name">BIZUM ESPAÑA</td>
                      <td class="col col-owner">WILSON GONZÁLEZ</td>
                      <td class="col col-icon"></td>
                      <td class="col col-type_account">personal</td>
                      <td class="col col-number">+34604278556</td>
                      <td class="col col-interbank"></td>
                      <td class="col col-visible_public">
                        <span class="status_tag yes">Sí</span>
                      </td>
                      <td class="col col-currency">
                        <a href="/admin/currencies/1">Dólares Americanos</a>
                      </td>
                      <td class="col col-actions">
                        <div class="table_actions">
                          <a class="view_link member_link"
                            title="Ver"
                            href="/admin/payment_types/4958">
                            Ver
                          </a><a class="edit_link member_link"
                            title="Editar"
                            href="/admin/payment_types/4958/edit">
                            Editar
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="index_footer">
            <div class="pagination_information">
              Mostrando <b>un total de 6</b> Medios de Pago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
