{% extends 'admin/base.html' %} {% block title %}
  Participantes
{% endblock %}
{% block subtitle %}
  Participantes
{% endblock %}

{% block content %}
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="table_tools">
          <div class="scopes">
            <ul class="table_tools_segmented_control scope-default-group">
              <li class="scope rifa_activa selected">
                <a href="#" class="table_tools_button">Rifa Activa</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="paginated_collection">
          <div class="paginated_collection_contents">
            <div class="index_content">
              <div class="index_as_table">
                <table border="0"
                  cellspacing="0"
                  cellpadding="0"
                  id="index_table_buyers"
                  class="index_table index"
                  paginator="true">
                  <thead>
                    <tr>
                      <th class="sortable col col-name">Nombre</th>
                      <th class="sortable col col-phone">Celular</th>
                      <th class="sortable col col-total_amount">Pago Total</th>
                      <th class="sortable col col-total_tickets">Numero tickets</th>
                      <th class="col col-purchases"
                        style="max-width: 300px;">Tickets</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for participante in participantes %}
                      <tr class="odd">
                        <td class="col col-name">{{ participante.nombre }}</td>
                        <td class="col col-phone">
                          <!-- prettier-ignore -->
                          <a target="_blank"
                            href="https://api.whatsapp.com/send?phone=%2B{{ participante.telefono }}">
                            {{ participante.telefono }}
                          </a>
                        </td>
                        <td class="col col-total_amount">${{ participante.total }}</td>
                        <td class="col col-total_tickets">
                          <!-- prettier-ignore -->
                          {{ participante.num_tickets }}
                        </td>
                        <td class="sortable col col-tickets">
                          <!-- prettier-ignore -->
                          {% for boleto in participante.boletos %}
                            {{ boleto|stringformat:"04d" }}
                            {% if not forloop.last %}
                              ,
                            {% endif %}
                            
                           {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const dataTable = new simpleDatatables.DataTable(".index_table");
  </script>
{% endblock %}
