.text-center {
  text-align: center;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.header_aprox_date,
#pagingBox,
#page_navigation,
#containerSearch,
#numeros_seleccionados,
#btn_view_selected_bot {
  display: none !important;
}

.footer-credits {
  display: none !important;
}

.shuffle-section {
  display: none !important;
}

.header {
  background: #101d35;
}

.header .header-title,
.header .header-subtitle,
.header pre,
.header p,
.progress-percent {
  color: #F0F0F1;
}

.navbar {
  border-top: 8px solid #101d35;
  border-bottom: 8px solid #101d35;
}

.header-scrolled {
  -webkit-box-shadow: 0 5px 6px 0 #101d35;
  box-shadow: 0 5px 6px 0 #101d35;
  background: #ffffff1a;
}

a.link {
  color: #101d35;
}

.footer-subsection-title {
  font-family: "Pixel", sans-serif;
  color: yellow;
}

button.magic_button {
  color: #101d35;
}

.progress-actual {
  background: #101d35;
}

.progress-total {
  border: 2px solid #000000;
}

button.magic_button:active,
button.waves-effect.next:active,
button.waves-effect.prev:active {
  color: #000000 !important;
}

.nav-item .nav-link:hover .nav-link-number {
  color: #101d35 !important;
}

.nav-item .nav-link:hover .nav-link-menu {
  color: #101d35 !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  color: #101d35;
}

.learn-more-btn,
button {
  background-color: #101d35;
}

.learn-more-btn,
.plusminus button,
.btn-large,
button.magic_button,
#buttfixed,
#containerSearch {
  box-shadow: 0 0 18px #101d35;
}

.learn-more-btn:hover,
button:hover {
  background-color: #03055b;
}

.learn-more-btn:hover,
.btn-large:hover,
.plusminus button:hover,
button.magic_button:hover,
#buttfixed:hover {
  box-shadow: 0 0 18px #0000008a;
}

.card .card-body .payment-type .types .type.selected::after {
  color: #101d35;
  border: 2px solid #101d35;
}

.btn-invert {
  background-color: #101d35 !important;
}

.services-accordion .accordion {
  background-color: #101d35;
}

.accordion:active,
.accordion:hover {
  color: #dfb4cb;
  background-color: #03055b !important;
}

.btn-invert:hover {
  background-color: #03055b !important;
  color: #f0cce6;
}

.header-img-section img {
  box-shadow: 0 0 18px #00000069;
}

#msjNombre,
.pricing-head h4,
.clients-title,
.contact-title,
.pricing-title h2,
.blog-title,
.services-title,
.contact-subtitle,
strong#textSeleccionados,
strong#total_amount {
  color: #101d35;
}

input[type="range"] + .thumb,
.btn,
.btn-large,
.btn-small,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus,
.btn_view_selected:hover {
  background-color: #101d35;
}

input[type="range"] + .thumb .value,
.input-field .prefix.active,
.dropdown-content li > a,
.dropdown-content li > span {
  color: #000000;
}

button.btn-large,
button.btn-small,
a.btn-large,
a.btn-small {
  border: 2px solid transparent;
}

.featured_award {
  background: #101d35;
}

.poppuler .btn {
  color: #101d35;
}

.plusminus button:active,
.plusminus button:focus {
  background: #000000;
  color: #e5c2e0 !important;
}

.learn-more-btn,
button,
.plusminus button {
  color: #ddc9d4;
}

button.magic_button:hover,
#page_navigation > button:hover {
  color: #d9c5d4 !important;
}

button.magic_button:focus {
  color: #000;
}

.learn-more-btn:hover,
button.btn-large:hover {
  color: #e7c9de;
}

.plusminus button:hover {
  color: #e4c4d3;
}

strong#textSeleccionados {
  color: #101d35;
  background: #d2c8d0;
}

.teal,
.teal.lighten-1 {
  background-color: #101d35 !important;
}

.teal.lighten-2 {
  background-color: #101d35 !important;
}

.sidenav-trigger,
.teal-text.text-lighten-2 {
  color: #101d35 !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #101d35 !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #101d35;
  -webkit-box-shadow: 0 1px 0 0 #101d35;
  box-shadow: 0 0 6px 0 #101d35;
}

input.valid:not([type]),
input.valid:not([type]):focus,
input[type="text"].valid:not(.browser-default),
input[type="text"].valid:not(.browser-default):focus,
input[type="password"].valid:not(.browser-default),
input[type="password"].valid:not(.browser-default):focus,
input[type="email"].valid:not(.browser-default),
input[type="email"].valid:not(.browser-default):focus,
input[type="url"].valid:not(.browser-default),
input[type="url"].valid:not(.browser-default):focus,
input[type="time"].valid:not(.browser-default),
input[type="time"].valid:not(.browser-default):focus,
input[type="date"].valid:not(.browser-default),
input[type="date"].valid:not(.browser-default):focus,
input[type="datetime"].valid:not(.browser-default),
input[type="datetime"].valid:not(.browser-default):focus,
input[type="datetime-local"].valid:not(.browser-default),
input[type="datetime-local"].valid:not(.browser-default):focus,
input[type="tel"].valid:not(.browser-default),
input[type="tel"].valid:not(.browser-default):focus,
input[type="number"].valid:not(.browser-default),
input[type="number"].valid:not(.browser-default):focus,
input[type="search"].valid:not(.browser-default),
input[type="search"].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #101d35;
  -webkit-box-shadow: 0 1px 0 0 #101d35;
  box-shadow: 0 0 2px 0 #7d7d7d;
}

.chip .close {
  background: #0000009e;
}

.chip .close:hover {
  background: #000000;
}

.chip.selected_number,
#pagingBox div.chip.selected {
  background: #101d35;
}

.container_selected_number small > span {
  color: #101d35;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #03055b;
}

.chip.misticketsson {
  background: #101d35;
}

@media screen and (min-width: 992px) {
  body widget {
    -webkit-filter: drop-shadow(1px 1px 6px #101d35);
    filter: drop-shadow(1px 1px 6px #101d35);
  }
}

body widget[type="ticket"] .top,
body widget[type="ticket"] .bottom,
body widget[type="ticket"] .rip {
  background-color: #101d35;
}

body widget[type="ticket"] .rip:before,
body widget[type="ticket"] .rip:after {
  border-top-color: #000000 !important;
  border-right-color: #000000 !important;
}

body {
  font-family: "Pixel", sans-serif;
  /* Cambia 'Pixel' por la fuente que desees */
  font-size: 16px;
  /* Tamaño de fuente en píxeles */
  background-color: #f0f0f0;
  /* Color de fondo */
  color: #8e6ace;
  /* Color del texto */
}

.pixel-text {
  font-size: 32px;
  /* Tamaño de letra en píxeles */
  letter-spacing: 2px;
  /* Espaciado entre letras */
  text-shadow: 1px 1px 0 #fff;
  /* Sombra para dar efecto de píxel */
}

body widget[type="ticket"] .buy,
body widget[type="ticket"] .bottom > strong {
  color: #101d35;
}

body widget[type="ticket"] .top {
  border-left: 2px solid #101d35;
  border-right: 2px solid #101d35;
}

body widget[type="ticket"] .bottom > strong {
  border: 2px dashed #101d35;
}

body widget[type="ticket"] .mode,
body widget[type="ticket"] .status {
  color: #101d35;
}

body widget .container_banner > div.tourname {
  background: #101d35;
  background: linear-gradient(180deg, #101d35 0%, #101d35 100%);
}

body widget[type="ticket"] .rip {
  box-shadow: 0 1px 0 0 #101d35, 0 -1px 0 0 #101d35;
}

.bandname.-bold {
  border-top: 4px solid #000000;
  color: #101d35;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #101d35;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #03055b;
}

.footer-section {
  background-color: #101d35;
}

.modal i {
  color: #101d35;
}

#randomShuffleNumber {
  transition: all 0.66s ease-out;
}

.generate.number.winner {
  color: #101d35;
  text-shadow: 0 0 22px #0000004a;
}

.generate.number {
  color: #101d35;
}

#buttfixed {
  background: #101d35;
}

#buttfixed:hover {
  background: #000000;
}

.ticket-opcion {
  background-color: #c491cd;
  /* Color de fondo verde */
  color: white;
  /* Color del texto */
  border: none;
  /* Sin borde */
  border-radius: 10px;
  /* Bordes redondeados */
  padding: 15px 20px;
  /* Espaciado interno */
  font-size: 20px;
  /* Tamaño de fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar el mouse */
  display: inline-flex;
  /* Para centrar el contenido */
  align-items: center;
  /* Centra verticalmente */
  justify-content: center;
  /* Centra horizontalmente */
  transition: background-color 0.3s;
  /* Transición suave para el color de fondo */
}

.ticket-opcion:hover {
  background-color: #101d35;
  /* Color de fondo al pasar el mouse */
}

.ticket-opcion:disabled {
  background-color: #ccc;
  /* Color de fondo para botones deshabilitados */
  cursor: not-allowed;
  /* Cursor de no permitido */
}

#buttfixed > span {
  color: #101d35;
}

.modal-overlay {
  background: #101d35;
}

img.loading {
  background: #000000c4;
}

.footer-social-media-icon .fa:hover {
  color: #000000;
}

body .chip {
  width: 60px;
}

.text-center {
  text-align: center;
  /* Centra el texto dentro del contenedor */
}

.contact-section {
  display: flex;
  /* Utiliza flexbox para centrar el contenido */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  flex-direction: column;
  /* Asegura que los elementos se apilen verticalmente */
  padding: 20px;
  /* Espaciado alrededor del contenido */
}

.header_aprox_date,
#pagingBox,
#page_navigation,
#containerSearch,
#numeros_seleccionados,
#btn_view_selected_bot {
  display: none !important;
}

.footer-credits {
  display: none !important;
}

.shuffle-section {
  display: none !important;
}

.header {
  background: #101d35;
}

.header .header-title,
.header .header-subtitle,
.header pre,
.header p,
.progress-percent {
  color: #F0F0F1;
}

.navbar {
  border-top: 8px solid #101d35;
  border-bottom: 8px solid #101d35;
}

.header-scrolled {
  -webkit-box-shadow: 0 5px 6px 0 #101d35;
  box-shadow: 0 5px 6px 0 #101d35;
  background: #ffffff1a;
}

a.link {
  color: #101d35;
}

.footer-subsection-title {
  font-family: "Pixel", sans-serif;
  /* Asegúrate de que la fuente esté disponible */
  color: yellow;
  /* Color amarillo */
}

button.magic_button {
  color: #101d35;
}

.progress-actual {
  background: #101d35;
}

.progress-total {
  border: 2px solid #000000;
}

button.magic_button:active,
button.waves-effect.next:active,
button.waves-effect.prev:active {
  color: #000000 !important;
}

.nav-item .nav-link:hover .nav-link-number {
  color: #101d35 !important;
}

.nav-item .nav-link:hover .nav-link-menu {
  color: #101d35 !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  color: #101d35;
}

.learn-more-btn,
button {
  background-color: #101d35;
}

.learn-more-btn,
.plusminus button,
.btn-large,
button.magic_button,
#buttfixed,
#containerSearch {
  box-shadow: 0 0 18px #101d35;
}

.learn-more-btn:hover,
button:hover {
  background-color: #03055b;
}

.learn-more-btn:hover,
.btn-large:hover,
.plusminus button:hover,
button.magic_button:hover,
#buttfixed:hover {
  box-shadow: 0 0 18px #0000008a;
}

.card .card-body .payment-type .types .type.selected::after {
  color: #101d35;
  border: 2px solid #101d35;
}

.btn-invert {
  background-color: #101d35 !important;
}

.services-accordion .accordion {
  background-color: #101d35;
}

.accordion:active,
.accordion:hover {
  color: #dfb4cb;
  background-color: #03055b !important;
}

.btn-invert:hover {
  background-color: #03055b !important;
  color: #f0cce6;
}

.header-img-section img {
  box-shadow: 0 0 18px #00000069;
}

#msjNombre,
.pricing-head h4,
.clients-title,
.contact-title,
.pricing-title h2,
.blog-title,
.services-title,
.contact-subtitle,
strong#textSeleccionados,
strong#total_amount {
  color: #101d35;
}

input[type="range"] + .thumb,
.btn,
.btn-large,
.btn-small,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus,
.btn_view_selected:hover {
  background-color: #101d35;
}

input[type="range"] + .thumb .value,
.input-field .prefix.active,
.dropdown-content li > a,
.dropdown-content li > span {
  color: #000000;
}

button.btn-large,
button.btn-small,
a.btn-large,
a.btn-small {
  border: 2px solid transparent;
}

.featured_award {
  background: #101d35;
}

.poppuler .btn {
  color: #101d35;
}

.plusminus button:active,
.plusminus button:focus {
  background: #000000;
  color: #e5c2e0 !important;
}

.learn-more-btn,
button,
.plusminus button {
  color: #ddc9d4;
}

button.magic_button:hover,
#page_navigation > button:hover {
  color: #d9c5d4 !important;
}

button.magic_button:focus {
  color: #000;
}

.learn-more-btn:hover,
button.btn-large:hover {
  color: #e7c9de;
}

.plusminus button:hover {
  color: #e4c4d3;
}

strong#textSeleccionados {
  color: #101d35;
  background: #d2c8d0;
}

.teal,
.teal.lighten-1 {
  background-color: #101d35 !important;
}

.teal.lighten-2 {
  background-color: #101d35 !important;
}

.sidenav-trigger,
.teal-text.text-lighten-2 {
  color: #101d35 !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #101d35 !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #101d35;
  -webkit-box-shadow: 0 1px 0 0 #101d35;
  box-shadow: 0 0 6px 0 #101d35;
}

input.valid:not([type]),
input.valid:not([type]):focus,
input[type="text"].valid:not(.browser-default),
input[type="text"].valid:not(.browser-default):focus,
input[type="password"].valid:not(.browser-default),
input[type="password"].valid:not(.browser-default):focus,
input[type="email"].valid:not(.browser-default),
input[type="email"].valid:not(.browser-default):focus,
input[type="url"].valid:not(.browser-default),
input[type="url"].valid:not(.browser-default):focus,
input[type="time"].valid:not(.browser-default),
input[type="time"].valid:not(.browser-default):focus,
input[type="date"].valid:not(.browser-default),
input[type="date"].valid:not(.browser-default):focus,
input[type="datetime"].valid:not(.browser-default),
input[type="datetime"].valid:not(.browser-default):focus,
input[type="datetime-local"].valid:not(.browser-default),
input[type="datetime-local"].valid:not(.browser-default):focus,
input[type="tel"].valid:not(.browser-default),
input[type="tel"].valid:not(.browser-default):focus,
input[type="number"].valid:not(.browser-default),
input[type="number"].valid:not(.browser-default):focus,
input[type="search"].valid:not(.browser-default),
input[type="search"].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #101d35;
  -webkit-box-shadow: 0 1px 0 0 #101d35;
  box-shadow: 0 0 2px 0 #7d7d7d;
}

.chip .close {
  background: #0000009e;
}

.chip .close:hover {
  background: #000000;
}

.chip.selected_number,
#pagingBox div.chip.selected {
  background: #101d35;
}

.container_selected_number small > span {
  color: #101d35;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #03055b;
}

.chip.misticketsson {
  background: #101d35;
}

@media screen and (min-width: 992px) {
  body widget {
    -webkit-filter: drop-shadow(1px 1px 6px #101d35);
    filter: drop-shadow(1px 1px 6px #101d35);
  }
}

body widget[type="ticket"] .top,
body widget[type="ticket"] .bottom,
body widget[type="ticket"] .rip {
  background-color: #101d35;
}

body widget[type="ticket"] .rip:before,
body widget[type="ticket"] .rip:after {
  border-top-color: #000000 !important;
  border-right-color: #000000 !important;
}

body {
  font-family: "Pixel", sans-serif;
  /* Cambia 'Pixel' por la fuente que desees */
  font-size: 16px;
  /* Tamaño de fuente en píxeles */
  background-color: #f0f0f0;
  /* Color de fondo */
  color: #8e6ace;
  /* Color del texto */
}

.pixel-text {
  font-size: 32px;
  /* Tamaño de letra en píxeles */
  letter-spacing: 2px;
  /* Espaciado entre letras */
  text-shadow: 1px 1px 0 #fff;
  /* Sombra para dar efecto de píxel */
}

body widget[type="ticket"] .buy,
body widget[type="ticket"] .bottom > strong {
  color: #101d35;
}

body widget[type="ticket"] .top {
  border-left: 2px solid #101d35;
  border-right: 2px solid #101d35;
}

body widget[type="ticket"] .bottom > strong {
  border: 2px dashed #101d35;
}

body widget[type="ticket"] .mode,
body widget[type="ticket"] .status {
  color: #101d35;
}

body widget .container_banner > div.tourname {
  background: #101d35;
  background: linear-gradient(180deg, #101d35 0%, #101d35 100%);
}

body widget[type="ticket"] .rip {
  box-shadow: 0 1px 0 0 #101d35, 0 -1px 0 0 #101d35;
}

.bandname.-bold {
  border-top: 4px solid #000000;
  color: #101d35;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #101d35;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #03055b;
}

.footer-section {
  background-color: #101d35;
}

.modal i {
  color: #101d35;
}

#randomShuffleNumber {
  transition: all 0.66s ease-out;
}

.generate.number.winner {
  color: #101d35;
  text-shadow: 0 0 22px #0000004a;
}

.generate.number {
  color: #101d35;
}

#buttfixed {
  background: #101d35;
}

#buttfixed:hover {
  background: #000000;
}

.ticket-opcion {
  background-color: #c491cd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.ticket-opcion:hover {
  background-color: #101d35;
  /* Color de fondo al pasar el mouse */
}

.ticket-opcion:disabled {
  background-color: #ccc;
  /* Color de fondo para botones deshabilitados */
  cursor: not-allowed;
  /* Cursor de no permitido */
}

#buttfixed > span {
  color: #101d35;
}

.modal-overlay {
  background: #101d35;
}

img.loading {
  background: #000000c4;
}

.footer-social-media-icon .fa:hover {
  color: #000000;
}

body .chip {
  width: 60px;
}
@media only screen and (max-width: 600px) {
  select#country_code {
    font-size: 0.9rem !important;
  }
  #telefonoInput {
    width: 150px !important;
  }
}
.container_btn_help #buttfixed:hover {
  background: #ffa8a8;
}
.container_btn_help #buttfixed {
  width: 60px;
  height: 60px;
  padding: 0;
}
.container_btn_help #buttfixed .chat-btn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttfixed #linksfixed {
  bottom: 72px;
  right: 10px;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 991.98px) {
  .contact-container {
    flex-direction: column !important;
  }
}
