{% extends 'base.html' %} {% load l10n %} {% block content %}
<style>
  .ticket-opcion {
    border: none;
    width: 50px;
    height: 50px;
    padding: 0 !important;
  }

  .ticket-opcion.seleccionado {
    background: #817ed5;
  }

  .ticket-opcion:hover {
    cursor: pointer;
  }

  #lista {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
    height: 500px;
    overflow: auto;
  }
</style>
<div class="pagetitle">
  <h1>Registros</h1>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          {{ form.errors }}
          <p></p>
          <!-- Button trigger modal  -->
          <form action="">
            <button
              title="Agregar"
              class="btn btn-primary" 
              data-bs-toggle="modal"
              data-bs-target="#myModal"
              type="button"
            >
              <i class="fas fa-plus"></i>
            </button>
            <div style="display:inline-block;">
              <select name="evento" id="" class="form-select" style="width: 150px;">
                <option value="0">Sin evento asociado</option>
                {% for evento in eventos %}
                  <option value="{{evento.id}}" {% if evento.id == evento_actual.id %}
                    selected
                  {% endif %}>{{evento.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div style="display:inline-block;">
              <select name="metodo" class="form-select" style="width: 150px;">
                <option value="">Todos</option>
                {% for id, metodo in metodos %}
                  <option value="{{id}}" {% if id|stringformat:"s" == metodo_actual %}
                    selected
                  {% endif %}>{{metodo}}</option>
                {% endfor %}
              </select>
            </div>
            <button class="btn btn-primary">Buscar</button>
          </form>
          <div class="table-responsive">
            Pendientes por verificar: {{ pendientes }}
            <!-- Table with stripped rows -->
            <table class="table datatable" id="tablaDeudas">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Método</th>
                  <th>Boletos</th>
                  <th>Fecha</th>
                  <th>Foto</th>
                  <th>Estatus</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for comprobante in object_list %}
                <tr>
                  <td>{{ comprobante.nombre }}</td>
                  <td>{{ comprobante.telefono }}</td>
                  <td>{{ comprobante.get_metodo_display }}</td>
                  <td>
                    {% if comprobante.status == 'Rechazado' %}
                    <!---->
                    Devueltos {% endif %}{{ comprobante.boletos|join:', ' }}
                  </td>
                  <td>{{ comprobante.fecha|date:'Y-m-d' }}</td>
                  <td>
                    <a href="{{ comprobante.foto.url }}" target="_blank">
                      <img
                        src="{{ comprobante.foto.url }}"
                        alt="Foto"
                        style="width: 100px"
                      />
                    </a>
                  </td>
                  <td>{{ comprobante.status }}</td>
                  <td>
                    <a
                      href="#"
                      class="btn btn-outline-warning"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal"
                      data-id="{{ comprobante.id }}"
                      data-nombre="{{ comprobante.nombre }}"
                      data-telefono="{{ comprobante.telefono }}"
                      data-fecha="{{ comprobante.fecha|date:'Y-m-d' }}"
                      data-foto="{{ comprobante.foto }}"
                      data-metodo="{{ comprobante.metodo }}"
                      data-status="{{ comprobante.status }}"
                      data-boletos="{{ comprobante.boletos|join:',' }}"
                    >
                      <i class="fas fa-edit"></i>
                    </a>
                    <a
                      href="#"
                      onclick="deleteItem('{{ comprobante.id }}')"
                      class="btn btn-outline-danger"
                    >
                      <i class="fas fa-trash"></i>
                    </a>

                    <a
                      href="{% url 'operador_pdf' comprobante.id %}"
                      class="btn btn-outline-info"
                    >
                      <i class="fas fa-file-pdf"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function deleteItem(id) {
    if (confirm("¿Está seguro de eliminar este registro?")) {
      const url = "{% url 'edit_comprobantes_admin' 0 %}".replace("0", id);
      fetch(url, {
        method: "DELETE",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      }).then(() => {
        location.reload();
      });
    }
  }
</script>

<!-- Modal Agregar Entrada-->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {% if edit_form %}Editar Gestión{% else %}Nuevo Gestión{% endif %}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form
            method="POST"
            id="comprobanteForm"
            action="{% url 'comprobantes_admin' %}"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <input type="hidden" id="edit_id" name="edit_id" value="" />
            {{ form.errors }}

            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombreName"
                name="nombre"
                value=""
                required
              />
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input
                type="text"
                class="form-control"
                id="telefonoName"
                name="telefono"
                value=""
                required
              />
            </div>

            <div class="mb-3">
              <label for="fecha" class="form-label">Fecha</label>
              <input
                type="date"
                class="form-control"
                id="fechaName"
                name="fecha"
                value=""
                required
              />
              <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                <input
                  type="file"
                  class="form-control"
                  id="fotoName"
                  name="foto"
                />
              </div>
              <div class="mb-3">
                <label for="metodo" class="form-label">Metodo de Pago</label>
                <select id="metodoName"
                name="metodo" class="form-control" required>
                <option value="">Elige un metodo</option>
                  {% for id, metodo in metodos %}
                    <option value="{{id}}" {% if id == metodo_actual %}
                      selected
                    {% endif %}>{{metodo}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="">Estatus</label>
                <select name="status" id="statusName" class="form-control">
                  <option value="No verificado">No verificado</option>
                  <option value="Verificado">Verificado</option>
                  <option value="Rechazado">Rechazado</option>
                </select>
              </div>
              <label for="">Números disponibles</label>
              <input type="hidden" name="boletos" id="boletosName" value="" />
              <div id="lista" class="input-field col s12 containtickets">
                {% for numero in tickets %}
                <!-- si ya esta agarrado -->
                {% if numero in agarrados %}
                <button
                  type="button"
                  class="ticket-opcion"
                  disabled
                  data-ticket="{{numero}}"
                  data-disabled="true"
                >
                  {{numero}}
                </button>
                {% else %}
                <button
                  type="button"
                  class="ticket-opcion"
                  onclick="seleccionarTicket(this)"
                  data-ticket="{{numero}}"
                >
                  {{numero}}
                </button>
                {% endif %}
                <!-- Fin si ya esta agarrado -->
                {% endfor %}
              </div>

              <button
                type="button"
                class="btn btn-outline-danger"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="submit" class="btn btn-outline-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script>
  let tickets_seleccionados = [];

  /** @param {HTMLButtonElement} btn */
  function seleccionarTicket(btn) {
    let ticket = btn.dataset.ticket;
    if (tickets_seleccionados.includes(ticket)) {
      btn.classList.remove("seleccionado");
      tickets_seleccionados = tickets_seleccionados.filter(
        (item) => item !== ticket
      );
    } else {
      btn.classList.add("seleccionado");
      tickets_seleccionados.push(ticket);
    }
    document.querySelector("#boletosName").value =
      tickets_seleccionados.join(",");
  }

  // Script para llenar el modal con los datos del área a editar
  const editModal = document.getElementById("myModal");
  editModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget; // Botón que abrió el modal

    tickets_seleccionados = button.getAttribute("data-boletos").split(",");
    document
      .querySelectorAll(".ticket-opcion.seleccionado")
      .forEach((ticket) => {
        ticket.classList.remove("seleccionado");
      });
    document.querySelectorAll("[data-disabled]").forEach((ticket) => {
      if (tickets_seleccionados.includes(ticket.dataset.ticket)) {
        ticket.classList.add("seleccionado");
        ticket.disabled = false;
      } else {
        ticket.disabled = true;
      }
    });
    document.querySelector("#boletosName").value =
      tickets_seleccionados.join(",");

    const id = button.getAttribute("data-id"); // Extraer el ID
    const nombre = button.getAttribute("data-nombre");
    const telefono = button.getAttribute("data-telefono");
    const fecha = button.getAttribute("data-fecha");
    const foto = button.getAttribute("data-foto");
    const form = editModal.querySelector("#comprobanteForm");
    const status = button.getAttribute("data-status");
    const metodo = button.getAttribute("data-metodo");

    if (id) {
      form.action = "{% url 'edit_comprobantes_admin' 0 %}".replace("0", id); // Cambiar la acción del formulario
      form.querySelector("#edit_id").value = id; // Establecer el ID en un campo oculto
      foto.required = false;
    } else {
      form.action = "{% url 'comprobantes_admin' %}"; // Acción para nuevo registro
      form.querySelector("#edit_id").value = ""; // Limpiar el campo oculto
      foto.required = true;
    }
    form.querySelector("#nombreName").value = nombre || "";
    form.querySelector("#telefonoName").value = telefono || "";
    form.querySelector("#fechaName").value = fecha || "";
    //form.querySelector("#fotoName").value = foto || "";
    form.querySelector("#metodoName").value = metodo || "";
    form.querySelector("#statusName").value = status || "";
  });
</script>

{% if edit_form %}
<script>
  $(document).ready(function () {
    $("#myModal").modal("show");
  });
</script>
{% endif %} {% endblock %} {% block javascript %}
<script>
  $(document).ready(function () {
    $("#tablaDeudas").DataTable({
      order: [[0, "DESC"]],
      columnDefs: [
        {
          defaultContent: "-",
          targets: "_all",
        },
      ],
      dom: "Bfrtip",
      language: {
        decimal: "",
        emptyTable: "No hay información",
        info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        infoEmpty: "Mostrando 0 to 0 of 0 Entradas",
        infoFiltered: "(Filtrado de _MAX_ total entradas)",
        infoPostFix: "",
        thousands: ",",
        lengthMenu: "Mostrar _MENU_ Entradas",
        loadingRecords: "Cargando...",
        processing: "Procesando...",
        search: "Buscar:",
        zeroRecords: "Sin resultados encontrados",
        paginate: {
          first: "Primero",
          last: "Ultimo",
          next: "Siguiente",
          previous: "Anterior",
        },
      },
    });
  });
</script>
{% endblock javascript %}
