{% extends 'base.html' %}
{% block head %}
  <style>
    .estadistica-tabla {
      width: 90%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    .estadistica-cell {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
  </style>
{% endblock %}
{% block content %}
  <h1 style="text-align: center; color: #333">
    Ventas y Participantes del Evento: {{ evento.nombre }}
  </h1>

  <h2 style="color: #555">Porcentaje de Tickets Vendidos</h2>
  <p style="font-size: 18px">
    Tickets Vendidos: <strong>{{ tickets_vendidos }}</strong> /
    <strong>{{ total_tickets }}</strong>
  </p>
  <p style="font-size: 18px">
    Porcentaje: <strong>{{ porcentaje|floatformat:2 }}%</strong>
  </p>

  <!-- Gráfica de tipo torta con tamaño reducido -->
  <div style="max-width: 300px">
    <canvas id="porcentajeTicketsChart" width="300" height="300"></canvas>
  </div>

  <h2 class="mt-4" style="color: #555">Personas con Más Tickets Comprados</h2>
  {% if personas %}
    <table class="estadistica-tabla">
      <thead>
        <tr>
          <th class="estadistica-cell">Nombre</th>
          <th class="estadistica-cell">Teléfono</th>
          <th class="estadistica-cell">Cantidad de Tickets</th>
        </tr>
      </thead>
      <tbody>
        {% for persona in personas %}
          <tr>
            <td class="estadistica-cell">{{ persona.nombre }}</td>
            <td class="estadistica-cell">{{ persona.telefono }}</td>
            <td class="estadistica-cell">{{ persona.num_tickets }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay datos disponibles sobre compradores de tickets.</p>
  {% endif %}

  <h2 class="mt-4" style="color: #555">Venta de tickets por método de pago</h2>
  {% if comprobante_por_metodos %}
    <table class="estadistica-tabla">
      <thead>
        <tr>
          <th class="estadistica-cell">Método</th>
          <th class="estadistica-cell">Cantidad verificada</th>
          <th class="estadistica-cell">Monto verificado</th>
          <th class="estadistica-cell">Cantidad pendiente</th>
          <th class="estadistica-cell">Monto pendiente</th>
          <th class="estadistica-cell">Cantidad total</th>
          <th class="estadistica-cell">Monto total</th>
        </tr>
      </thead>
      <tbody>
        {% for result in comprobante_por_metodos %}
          <tr>
            <td class="estadistica-cell">{{ result.nombre }}</td>
            <td class="estadistica-cell">{{ result.cantidad_pagado }}</td>
            <td class="estadistica-cell">{{ result.pagado|default:0 }} $</td>
            <td class="estadistica-cell">{{ result.cantidad_faltante }}</td>
            <td class="estadistica-cell">{{ result.faltante|default:0 }} $</td>
            <td class="estadistica-cell">{{ result.cantidad }}</td>
            <td class="estadistica-cell">{{ result.total|default:0 }} $</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay datos disponibles sobre ventas.</p>
  {% endif %}

  <h2 class="mt-4" style="color: #555">Visualizaciones de la Página</h2>
  <p>
    Total de Visualizaciones: <strong>{{ total_visualizaciones }}</strong>
  </p>
{% endblock %}

{% block javascript %}
  <script src="/static/libs/js/chart.js"></script>
  <script src="/static/libs/js/chartjs-plugin-datalabels.js"></script>
  <script>
    const ctx = document
      .getElementById("porcentajeTicketsChart")
      .getContext("2d");
    const porcentajeTicketsChart = new Chart(ctx, {
      type: "pie",
      data: {
        labels: ["Tickets Vendidos", "Tickets Disponibles"],
        datasets: [
          {
            label: "Porcentaje de Tickets",
            data: ["{{ tickets_vendidos }}", "{{ tickets_restantes }}"],
            backgroundColor: [
              "rgba(75, 192, 192, 0.6)",
              "rgba(255, 99, 132, 0.6)",
            ],
            borderColor: ["rgba(75, 192, 192, 1)", "rgba(255, 99, 132, 1)"],
            borderWidth: 1,
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Distribución de Tickets Vendidos",
          },
          datalabels: {
            color: "#fff",
            formatter: (value, context) => {
              const total = context.dataset.data.reduce(
                (acc, val) => acc + val,
                0
              );
              const percentage = ((value / total) * 100).toFixed(2) + "%";
              return percentage;
            },
          },
        },
      },
    });
  </script>
{% endblock %}
